In [2]:
import findspark
findspark.init()

import wptools
import pyspark
import pyspark.sql
from pyspark.sql import *
import os.path
from pyspark.sql.functions import desc

from pyspark.sql import dataframe
from pyspark.sql import functions as F

from pyspark.sql import SparkSession
from pyspark import SparkContext
from pyspark.sql import SQLContext

spark = SparkSession.builder.getOrCreate()
sc = spark.sparkContext

from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

import re
import pandas as pd
import matplotlib.pyplot as plt
import hashlib

%matplotlib inline

import os
import sys
my_fun = '../'
if my_fun not in sys.path:
    sys.path.append(my_fun)
    
from get_ref_info import *
my_fun = '../utils/cleaning/'
if my_fun not in sys.path:
    sys.path.append(my_fun)
    
from cleaning import *
from operator import add

try:
    from urllib.parse import urlparse
except ImportError:
     from urlparse import urlparse

import seaborn as sns
import numpy as np
from pyspark.sql.functions import regexp_replace, col

from sklearn.preprocessing import MinMaxScaler

DATA_DIR = '../../data/data_processed/' 

sc.addPyFile("../get_ref_info.py")
sc.addPyFile("../cleaning/cleaning.py")

In [3]:
# Loading the data
WIKIPEDIA_REFERENCES_PARQUET = DATA_DIR + "intermediate/wikipedia_no_outliers.parquet"

# loading the saved parquet files
wikipedia_ref = spark.read.parquet(WIKIPEDIA_REFERENCES_PARQUET)
wikipedia_ref.show(10)

+------+--------------------+-----------------+--------------------+
|    id|               title|       categories|            revision|
+------+--------------------+-----------------+--------------------+
|655845|Battle of Athens ...|military conflict|[, [,, 5175837,, ...|
|656035|  Battle of Calabria|military conflict|[[link,], [,, 268...|
|656087|   Italo-Turkish War|military conflict|[, [,,, 96.77.37....|
|656173|Third Anglo-Afgha...|military conflict|[[Formatting.,], ...|
|656175|Second Anglo-Afgh...|military conflict|[[/* 1879 */The B...|
|656473|   Illinois campaign|military conflict|[[Moved images.,]...|
|659156|Battle of Kock (1...|military conflict|[, [,, 29980587,,...|
|659506|Battle of Peachtr...|military conflict|[[c/e.,], [,, 193...|
|661656|Nicaraguan Revolu...|military conflict|[, [,, 33124044,,...|
|661864|       S11 (protest)|   civil conflict|[[Rescuing 3 sour...|
+------+--------------------+-----------------+--------------------+
only showing top 10 rows

In [68]:
articles = pd.read_csv(DATA_DIR + 'data_processed.csv')#, index_col=0)
#articles.index.names = ['id']
articles.end_date_clean = articles.end_date_clean.fillna(0)
min_max_scaler = MinMaxScaler(feature_range=(0,1))
articles_minmax = min_max_scaler.fit_transform(articles[['article_lenght', 'views', 'refs_count', 'link_count']])
articles[['article_lenght', 'views', 'refs_count', 'link_count']] = articles_minmax
articles.head()

/Users/nasrine/miniconda3/envs/ada/lib/python3.6/site-packages/sklearn/preprocessing/data.py:323: DataConversionWarning: Data with input dtype int64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

,Unnamed: 0,title,categories,article_lenght,views,refs_count,link_count,death,locations,end_date_clean,ongoing
0,771,American Revolutionary War,military conflict,0.375011,0.259929,0.598,0.634364,70000,Eastern North America|Caribbean Sea|Indian ...,1783.0,False
1,863,American Civil War,military conflict,0.319410,0.522999,0.212,0.532646,828000,Southern United States Q49042|Northern Uni...,1865.0,False
2,3793,Battle of Bosworth Field,military conflict,0.152325,0.032733,0.034,0.208935,0,Ambion Hill Q4741491|Battle of Bosworth F...,1485.0,False
3,4005,Battle of Pharsalus,military conflict,0.034510,0.017785,0.020,0.067354,230,Farsala Q985596,0.0,False
4,4049,Battle of Blenheim,military conflict,0.104371,0.013543,0.095,0.137457,24968,Blindheim Q514914,1704.0,False

In [69]:
articles['popularity_score'] = articles['article_lenght'] + articles['views'] \
                                + articles['refs_count'] + articles['link_count']
articles.head()

,Unnamed: 0,title,categories,article_lenght,views,refs_count,link_count,death,locations,end_date_clean,ongoing,popularity_score
0,771,American Revolutionary War,military conflict,0.375011,0.259929,0.598,0.634364,70000,Eastern North America|Caribbean Sea|Indian ...,1783.0,False,1.867305
1,863,American Civil War,military conflict,0.319410,0.522999,0.212,0.532646,828000,Southern United States Q49042|Northern Uni...,1865.0,False,1.587055
2,3793,Battle of Bosworth Field,military conflict,0.152325,0.032733,0.034,0.208935,0,Ambion Hill Q4741491|Battle of Bosworth F...,1485.0,False,0.427993
3,4005,Battle of Pharsalus,military conflict,0.034510,0.017785,0.020,0.067354,230,Farsala Q985596,0.0,False,0.139650
4,4049,Battle of Blenheim,military conflict,0.104371,0.013543,0.095,0.137457,24968,Blindheim Q514914,1704.0,False,0.350371

In [70]:
articles.to_csv(DATA_DIR + 'articles_popularity_score.csv')

### Get the domains of references

In [71]:
wikipedia_ref.select('title').where("id = '655845'").head()

Row(title='Battle of Athens (1946)')

In [72]:
references_rrd = wikipedia_ref.rdd.flatMap(get_ref_info)
references = sqlContext.createDataFrame(references_rrd)
references.show(30)

+------+--------------+--------------------+--------------------+
|    id|      template|               title|                 url|
+------+--------------+--------------------+--------------------+
|655845|     cite book|Battle of Athens ...|                    |
|655845|     cite book|Battle of Athens ...|https://archive.o...|
|655845|     cite book|Battle of Athens ...|                    |
|655845|     cite book|Battle of Athens ...|https://archive.o...|
|655845|      cite web|Battle of Athens ...|http://www.americ...|
|655845|     cite book|Battle of Athens ...|https://archive.o...|
|655845|     cite book|Battle of Athens ...|https://archive.o...|
|655845|cite interview|Battle of Athens ...|http://volweb.utk...|
|655845|cite interview|Battle of Athens ...|http://volweb.utk...|
|655845|cite interview|Battle of Athens ...|http://volweb.utk...|
|655845|cite interview|Battle of Athens ...|http://volweb.utk...|
|655845|cite interview|Battle of Athens ...|http://volweb.utk...|
|655845|     cite book|Battle of Athens ...|https://archive.o...|
|655845|     cite news|Battle of Athens ...|https://timesmach...|
|655845|cite interview|Battle of Athens ...|http://volweb.utk...|
|655845|cite interview|Battle of Athens ...|http://volweb.utk...|
|655845|cite interview|Battle of Athens ...|http://volweb.utk...|
|655845|      cite web|Battle of Athens ...|http://tennesseee...|
|655845|     cite book|Battle of Athens ...|https://archive.o...|
|655845|     cite book|Battle of Athens ...|                    |
|655845|      cite web|Battle of Athens ...|http://www.tn.gov...|
|655845|     cite news|Battle of Athens ...|https://timesmach...|
|655845|cite interview|Battle of Athens ...|http://volweb.utk...|
|655845|     cite news|Battle of Athens ...|https://timesmach...|
|655845|     cite news|Battle of Athens ...|https://timesmach...|
|655845|     cite book|Battle of Athens ...|https://archive.o...|
|655845|     cite news|Battle of Athens ...|https://timesmach...|
|655845|     cite news|Battle of Athens ...|https://timesmach...|
|655845|     cite news|Battle of Athens ...|https://timesmach...|
|655845|     cite news|Battle of Athens ...|https://timesmach...|
+------+--------------+--------------------+--------------------+
only showing top 30 rows

**URL parsing** Parse a URL into six components, returning a 6-tuple. This corresponds to the general structure of a URL: scheme://netloc/path;parameters?query#fragment. Each tuple item is a string, possibly empty.

In [73]:
def id_(entity):
    if entity.url != '': 
        parsed_url = urlparse(entity.url)
        print('{uri.netloc}'.format(uri=parsed_url))
        return Row(id=entity.id, title=entity.title, url='{uri.netloc}'.format(uri=parsed_url))
    else:
        return Row(id=entity.id, title=entity.title, url=entity.url)

In [74]:
mapped_id_ref_df = sqlContext.createDataFrame(references.where("length(url)>0").rdd.map(id_))
mapped_id_ref_df.show(5)

+------+--------------------+--------------------+
|    id|               title|                 url|
+------+--------------------+--------------------+
|655845|Battle of Athens ...|         archive.org|
|655845|Battle of Athens ...|         archive.org|
|655845|Battle of Athens ...|www.americanherit...|
|655845|Battle of Athens ...|         archive.org|
|655845|Battle of Athens ...|         archive.org|
+------+--------------------+--------------------+
only showing top 5 rows

In [75]:
# remove duplicates 
id_ref_without_duplicates = mapped_id_ref_df\
.dropDuplicates(["id", "url"])

In [76]:
id_ref_without_duplicates.where("id = '655845'").head(25)

[Row(id=655845, title='Battle of Athens (1946)', url='timesmachine.nytimes.com'),
 Row(id=655845, title='Battle of Athens (1946)', url='www.americanheritage.com'),
 Row(id=655845, title='Battle of Athens (1946)', url='volweb.utk.edu'),
 Row(id=655845, title='Battle of Athens (1946)', url='archive.org'),
 Row(id=655845, title='Battle of Athens (1946)', url='www.nytimes.com'),
 Row(id=655845, title='Battle of Athens (1946)', url='www.imdb.com'),
 Row(id=655845, title='Battle of Athens (1946)', url='www.tn.gov'),
 Row(id=655845, title='Battle of Athens (1946)', url='tennesseeencyclopedia.net')]

In [77]:
articles.dtypes

Unnamed: 0            int64
title                object
categories           object
article_lenght      float64
views               float64
refs_count          float64
link_count          float64
death                 int64
locations            object
end_date_clean      float64
ongoing                bool
popularity_score    float64
dtype: object

In [87]:
 articles.rename({'Unnamed: 0' : 'id'}, axis='columns', inplace=True)

In [88]:
my_articles_copy = articles.copy()

In [89]:
my_articles_copy.columns = my_articles_copy.columns.astype(str)

In [90]:
for col in my_articles_copy.columns:
    my_articles_copy[col] = my_articles_copy[col].astype('str')

In [91]:
my_articles_copy.head()

,id,title,categories,article_lenght,views,refs_count,link_count,death,locations,end_date_clean,ongoing,popularity_score
0,771,American Revolutionary War,military conflict,0.37501120570209034,0.25992906771207214,0.598,0.634364261168385,70000,Eastern North America|Caribbean Sea|Indian ...,1783.0,False,1.8673045345825474
1,863,American Civil War,military conflict,0.31941047784259174,0.5229986430697001,0.212,0.5326460481099656,828000,Southern United States Q49042|Northern Uni...,1865.0,False,1.5870551690222574
2,3793,Battle of Bosworth Field,military conflict,0.15232520284286696,0.032732866135706445,0.034,0.20893470790378008,0,Ambion Hill Q4741491|Battle of Bosworth F...,1485.0,False,0.4279927768823535
3,4005,Battle of Pharsalus,military conflict,0.03451041697793617,0.01778526501901189,0.02,0.06735395189003437,230,Farsala Q985596,0.0,False,0.13964963388698243
4,4049,Battle of Blenheim,military conflict,0.10437108881678796,0.013543088263183891,0.095,0.13745704467353953,24968,Blindheim Q514914,1704.0,False,0.3503712217535114

In [92]:
my_articles_copy.dtypes

id                  object
title               object
categories          object
article_lenght      object
views               object
refs_count          object
link_count          object
death               object
locations           object
end_date_clean      object
ongoing             object
popularity_score    object
dtype: object

In [93]:
articles_spark = sqlContext.createDataFrame(my_articles_copy)

In [94]:
articles_spark.head(10)

[Row(id='771', title='American Revolutionary War', categories='military conflict', article_lenght='0.37501120570209034', views='0.25992906771207214', refs_count='0.598', link_count='0.634364261168385', death='70000', locations='Eastern  North  America|Caribbean  Sea|Indian  subcontinent|Africa|the  Atlantic  Ocean|and  the  Indian  Ocean', end_date_clean='1783.0', ongoing='False', popularity_score='1.8673045345825474'),
 Row(id='863', title='American Civil War', categories='military conflict', article_lenght='0.31941047784259174', views='0.5229986430697001', refs_count='0.212', link_count='0.5326460481099656', death='828000', locations='Southern  United  States  Q49042|Northern  United  States  Q1357541', end_date_clean='1865.0', ongoing='False', popularity_score='1.5870551690222574'),
 Row(id='3793', title='Battle of Bosworth Field', categories='military conflict', article_lenght='0.15232520284286696', views='0.032732866135706445', refs_count='0.034', link_count='0.20893470790378008', death='0', locations='Ambion  Hill  Q4741491|Battle  of  Bosworth  Field 1485  Q55876564', end_date_clean='1485.0', ongoing='False', popularity_score='0.4279927768823535'),
 Row(id='4005', title='Battle of Pharsalus', categories='military conflict', article_lenght='0.03451041697793617', views='0.01778526501901189', refs_count='0.02', link_count='0.06735395189003437', death='230', locations='Farsala  Q985596', end_date_clean='0.0', ongoing='False', popularity_score='0.13964963388698243'),
 Row(id='4049', title='Battle of Blenheim', categories='military conflict', article_lenght='0.10437108881678796', views='0.013543088263183891', refs_count='0.095', link_count='0.13745704467353953', death='24968', locations='Blindheim  Q514914', end_date_clean='1704.0', ongoing='False', popularity_score='0.3503712217535114'),
 Row(id='4050', title='Battle of Ramillies', categories='military conflict', article_lenght='0.08673921146457347', views='0.0035976843669529887', refs_count='0.08700000000000001', link_count='0.13058419243986255', death='3663', locations='Ramillies  Q531456', end_date_clean='1706.0', ongoing='False', popularity_score='0.307921088271389'),
 Row(id='4160', title='Battle of Lostwithiel', categories='military conflict', article_lenght='0.008090123726678378', views='0.0006260800094432158', refs_count='0.0', link_count='0.029553264604811', death='0', locations='Lostwithiel  Q723517', end_date_clean='1644.0', ongoing='False', popularity_score='0.038269468340932596'),
 Row(id='4283', title='Battle of Peleliu', categories='military conflict', article_lenght='0.07018622697326517', views='0.030045220271905624', refs_count='0.028', link_count='0.15601374570446735', death='10786', locations='Peleliu  Q497981', end_date_clean='1944.0', ongoing='False', popularity_score='0.2842451929496381'),
 Row(id='4284', title='Battle of Stalingrad', categories='military conflict', article_lenght='0.20041928984944254', views='0.17601090982246062', refs_count='0.137', link_count='0.2989690721649485', death='868374', locations='Volgograd  Q914', end_date_clean='1943.0', ongoing='False', popularity_score='0.8123992718368517'),
 Row(id='4356', title='Battle of Waterloo', categories='military conflict', article_lenght='0.25039121661683733', views='0.1470329278068335', refs_count='0.019', link_count='0.25360824742268046', death='41000', locations='Waterloo  Q179034', end_date_clean='1815.0', ongoing='False', popularity_score='0.6700323918463513')]

In [100]:
articles_spark_id = articles_spark.select('id','title','popularity_score', 'death', 'end_date_clean','ongoing')\
                    .orderBy('popularity_score', ascending=False)
articles_spark_id.show(3)

+-------+------------+------------------+--------+--------------+-------+
|     id|       title|  popularity_score|   death|end_date_clean|ongoing|
+-------+------------+------------------+--------+--------------+-------+
|  32927|World War II| 2.588224979043371|73000000|        1945.0|  False|
|  32611| Vietnam War|2.5555182965941783|  950765|        1975.0|  False|
|4764461| World War I| 2.491001784178094|17000000|        1918.0|  False|
+-------+------------+------------------+--------+--------------+-------+
only showing top 3 rows

In [108]:
articles_spark_id_sql = articles_spark_id.registerTempTable('articles_spark_id_sql')
id_ref_without_duplicates_sql = id_ref_without_duplicates.registerTempTable('id_ref_without_duplicates_sql')

In [109]:
query_get_references_for_id = """
select art.id, art.title, art.popularity_score, art.death, art.end_date_clean, art.ongoing, ref.url
from articles_spark_id_sql as art
join id_ref_without_duplicates_sql as ref
on art.id = ref.id
"""

join_ref_ = spark.sql(query_get_references_for_id)
join_ref_.show(5)

+------+----------------+------------------+-----+--------------+-------+--------------------+
|    id|           title|  popularity_score|death|end_date_clean|ongoing|                 url|
+------+----------------+------------------+-----+--------------+-------+--------------------+
|  4823|     Balkan Wars|0.3709030455420643|    0|        1913.0|  False|macedonia-istinat...|
|  4823|     Balkan Wars|0.3709030455420643|    0|        1913.0|  False|   countrystudies.us|
|381602|Baby Face Nelson|0.2746420418032183|    0|           0.0|  False|    books.google.com|
|381602|Baby Face Nelson|0.2746420418032183|    0|           0.0|  False|        data.bls.gov|
|381602|Baby Face Nelson|0.2746420418032183|    0|           0.0|  False|         variety.com|
+------+----------------+------------------+-----+--------------+-------+--------------------+
only showing top 5 rows

In [110]:
join_ref_.where("id = 32927").show()

+-----+------------+-----------------+--------+--------------+-------+--------------------+
|   id|       title| popularity_score|   death|end_date_clean|ongoing|                 url|
+-----+------------+-----------------+--------+--------------+-------+--------------------+
|32927|World War II|2.588224979043371|73000000|        1945.0|  False|     www.ibiblio.org|
|32927|World War II|2.588224979043371|73000000|        1945.0|  False|       www.au.af.mil|
|32927|World War II|2.588224979043371|73000000|        1945.0|  False|     web.archive.org|
|32927|World War II|2.588224979043371|73000000|        1945.0|  False|search.japantimes...|
|32927|World War II|2.588224979043371|73000000|        1945.0|  False|  www.nobelprize.org|
|32927|World War II|2.588224979043371|73000000|        1945.0|  False|www.unfoundation.org|
|32927|World War II|2.588224979043371|73000000|        1945.0|  False|www.militaryhisto...|
|32927|World War II|2.588224979043371|73000000|        1945.0|  False|     thediplomat.com|
|32927|World War II|2.588224979043371|73000000|        1945.0|  False|         rcin.org.pl|
|32927|World War II|2.588224979043371|73000000|        1945.0|  False|history.sandiego.edu|
|32927|World War II|2.588224979043371|73000000|        1945.0|  False|          www.un.org|
|32927|World War II|2.588224979043371|73000000|        1945.0|  False| www.fas.harvard.edu|
|32927|World War II|2.588224979043371|73000000|        1945.0|  False|   web.jjay.cuny.edu|
|32927|World War II|2.588224979043371|73000000|        1945.0|  False|       www.ushmm.org|
|32927|World War II|2.588224979043371|73000000|        1945.0|  False|www.geographiapol...|
|32927|World War II|2.588224979043371|73000000|        1945.0|  False|        fcit.usf.edu|
|32927|World War II|2.588224979043371|73000000|        1945.0|  False|   countrystudies.us|
|32927|World War II|2.588224979043371|73000000|        1945.0|  False|    usa.usembassy.de|
|32927|World War II|2.588224979043371|73000000|        1945.0|  False|     www.amnesty.org|
|32927|World War II|2.588224979043371|73000000|        1945.0|  False|      www.hawaii.edu|
+-----+------------+-----------------+--------+--------------+-------+--------------------+
only showing top 20 rows

In [111]:
not_pop_articles_spark_id = articles_spark.select('id','title','popularity_score', 'death', 'end_date_clean','ongoing')\
                    .orderBy('popularity_score', ascending=True)

In [120]:
not_pop_articles_spark_id.select('id','title').head(150)

[Row(id='49532277', title='Hashimiya attack'),
 Row(id='58421339', title='Fifth Third Center shooting'),
 Row(id='49429205', title='January 2015 Maiduguri suicide bombing'),
 Row(id='50567259', title='Transkei War'),
 Row(id='56640476', title='Operation of Sidi Aïch'),
 Row(id='32166814', title='Conquest of Ai'),
 Row(id='51033965', title='Punjab War'),
 Row(id='41345416', title='Battle of Deefa'),
 Row(id='3216047', title='Sack of Dun Gallimhe'),
 Row(id='49532230', title='5 February 2014 Baghdad bombings'),
 Row(id='53563856', title='Second Battle of Nanning'),
 Row(id='50373289', title='Sizzlers massacre'),
 Row(id='49429234', title='Monguno bombing'),
 Row(id='38928141', title='Battle of Møn (1657)'),
 Row(id='27494892', title='Battle of Maison Carrée'),
 Row(id='48494190', title='Kurram incident'),
 Row(id='3155017', title='Battle of the Baetis River'),
 Row(id='53563811', title='Battle of Nanning'),
 Row(id='52422234', title='Battle of Mizpah'),
 Row(id='6304854', title='Battle of Higos Urco'),
 Row(id='39440020', title='Expedition to Hernando'),
 Row(id='3239443', title='Battle of Tragh-Bhaile'),
 Row(id='53564213', title='Battle of Jinan (1930)'),
 Row(id='55571911', title='2016 Coimbatore riots'),
 Row(id='19839055', title='Battle of Shayuan'),
 Row(id='53563895', title='Second Battle of Guilin'),
 Row(id='45625603', title='Aden Airport attack'),
 Row(id='11850256', title='Operation Dawn 3'),
 Row(id='48494246', title='Datta Khel incident'),
 Row(id='43051334', title='Colo Wars'),
 Row(id='42027906', title='Darkey Flat massacre'),
 Row(id='22985013', title='Wei-Xianbei war'),
 Row(id='3260209', title='Operation Saxifrage'),
 Row(id='49532254', title='2014 Hillah bombing'),
 Row(id='45332515', title='Battle of Nirmogarh'),
 Row(id='48757269', title='December 2015 Moscow bus stop attack'),
 Row(id='53599692', title='Battle of Shangcai (1930)'),
 Row(id='53599767', title='Battle of Guanghua'),
 Row(id='30035944', title='Battle of Panamarathukotta'),
 Row(id='50230429', title='Battle of Kolding (1849)'),
 Row(id='54820336', title='Adana campaign'),
 Row(id='50153114', title='Battle of Tepatitlán'),
 Row(id='22467871', title='First expedition to Palembang'),
 Row(id='44940436', title='Battle of Bayrudh'),
 Row(id='42044219', title='Port Phillip District Wars'),
 Row(id='33801063', title='Capture of Río Hondo'),
 Row(id='38393113', title='Battle of Tezirzait'),
 Row(id='54917946', title='Battle of Høljarast Bridge'),
 Row(id='37153627', title='Battle of Kufra (1931)'),
 Row(id='32056006', title='1920 Jabal al-Gharbi civil war'),
 Row(id='21732829', title='Battle of Newtownmountkennedy'),
 Row(id='43846727', title='Raid on Lepka'),
 Row(id='42339722', title='Norfolk Navy Station shooting'),
 Row(id='54039258', title='Kunduz Offensive (2017)'),
 Row(id='32056003', title='1835–58 revolt in Ottoman Tripolitania'),
 Row(id='41006105', title='Battle of Yialousa'),
 Row(id='40200143', title='9 August 2013 Quetta shooting'),
 Row(id='3154809', title='Battle of Populonia'),
 Row(id='53575154', title='Second Battle of Mi County'),
 Row(id='49647925', title='Miqdadiyah bombing'),
 Row(id='35696259', title='April 2012 Idlib bombings'),
 Row(id='33805649', title='Siege of Samarkand (1501)'),
 Row(id='49304752', title='Song conquest of Southern Han'),
 Row(id='25576560', title='Battle of Matamondo'),
 Row(id='53895655', title='Siege of Fuenterrabía (1523–1524)'),
 Row(id='53599733', title='Battle of Xuchang'),
 Row(id='49451077', title='Battle of Humen-Shijing'),
 Row(id='56608117', title='Battle of Tessit'),
 Row(id='48494132', title='Tanai incident'),
 Row(id='3222570', title='Battle of Saintes'),
 Row(id='53564068', title='Battle of Xinzheng'),
 Row(id='50207914', title='Murder of Christelle Bancourt'),
 Row(id='4909829', title='Battle of Różan'),
 Row(id='39766854', title='Battle of Hogland (1705)'),
 Row(id='42791099', title='Battle of Paso Severino'),
 Row(id='45133349', title='Cameroon bus attack'),
 Row(id='3158602', title='Battle of Mount Tifata'),
 Row(id='42553908', title='Battle of Öland (1563)'),
 Row(id='5211629', title='Battle of Lize'),
 Row(id='52036071', title='Battle of Estancia de las Vacas'),
 Row(id='49075837', title='Battle of Shuangqiaozhen'),
 Row(id='52556121', title='Peruvian civil war of 1865'),
 Row(id='42349443', title='Eumerella Wars'),
 Row(id='46639361', title='Najran shelling'),
 Row(id='45189980', title='Green Our Vaccines'),
 Row(id='27973196', title='Battle of Campo Jordán'),
 Row(id='41987413', title='Kalkadoon Wars'),
 Row(id='30718047', title='Takebashi incident'),
 Row(id='52036098', title='Battle of Peñuelas'),
 Row(id='52619911', title='Qitaihe bombing'),
 Row(id='54171462', title='Battle of Yongmunsan'),
 Row(id='23549057', title='2009 Tal Afar bombing'),
 Row(id='35870583', title='2012 Deir ez-Zor bombing'),
 Row(id='1160495', title='Operation Panther Squeeze'),
 Row(id='12773963', title='Revolt of Babylon (626 BC)'),
 Row(id='49075921', title='Zhiluozhen Campaign'),
 Row(id='51003433', title='Zhabokryak Raid'),
 Row(id='56783547', title='Battle of Kaukaba'),
 Row(id='57837968', title='Sack of Thebes'),
 Row(id='41345454', title='Operation Jaguar (Oman)'),
 Row(id='35005739', title='Capture of Älvsborg'),
 Row(id='52691840', title='Battle of Zepita'),
 Row(id='48551319', title="Moḥammad Taqi Khan Shirazi's Rebellion"),
 Row(id='42582153', title='Battle of Fortín'),
 Row(id='22467892', title='Second expedition to Palembang'),
 Row(id='3171761', title='Siege of Rhegium'),
 Row(id='41466483', title='2013 Jalpaiguri bombing'),
 Row(id='54381505', title='Hostage of Dilgam Asgarov and Shahbaz Guliyev'),
 Row(id='45075424', title='Battle of Mesamávida'),
 Row(id='41280824', title='Battle of Placilla'),
 Row(id='32344281', title='Battle of Hühnerwasser'),
 Row(id='28792338', title='Battle of Lillo'),
 Row(id='52036227', title='Battle of Loma de las Ánimas'),
 Row(id='50147031', title='2016 Jalalabad suicide bombing'),
 Row(id='2112905', title='Action of 4 July 1773'),
 Row(id='40219703', title='Siege of Adrianople (378)'),
 Row(id='47170873', title='Skirmish at Abbeville'),
 Row(id='27965408', title='Battle of Gondra'),
 Row(id='48738554', title='December 2015 Chad suicide bombings'),
 Row(id='49849036', title='Battle of Santiago (1660)'),
 Row(id='47745114', title='2015 Fotokol attack'),
 Row(id='41427657', title='Sassnitz Campaign'),
 Row(id='50230488', title='Skirmish of Oversø'),
 Row(id='50844058', title='Siege of Augustodunum Haeduorum'),
 Row(id='9583715', title='Battle of Khasdour'),
 Row(id='40189494', title='August 2013 Quetta bombing'),
 Row(id='46762690', title='Battle of San Cristóbal'),
 Row(id='2112802', title='Action of 26 June 1625'),
 Row(id='38927674', title='Battle of Kolding (1644)'),
 Row(id='41006191', title='Battle at Nicosia Hospital'),
 Row(id='3391230', title='Battle of Rieti'),
 Row(id='45625602', title='Assassination of Harry Barrie'),
 Row(id='52036175', title='Battle of La Albarrada (1858)'),
 Row(id='53562051', title='Battle of Xicheng'),
 Row(id='49532193', title='January 15, 2014 Baghdad bombings'),
 Row(id='48302241', title='Battle of Miranpur Katra'),
 Row(id='32474888', title='Battle of River Ibicuí (1817)'),
 Row(id='25756665', title='Expedition against the Chinese in Montrado'),
 Row(id='34997384', title='Front for the Liberation of Djibouti'),
 Row(id='46376184', title='Kumanovo water crisis'),
 Row(id='7010816', title='Battle of Idano'),
 Row(id='52556218', title='Peruvian civil war of 1867'),
 Row(id='53895016', title='Battle of Beit Imrin'),
 Row(id='32974387', title='Battle of Ichirai'),
 Row(id='49986073', title='Peruvian civil war of 1843–1844'),
 Row(id='47199974', title='Skirmish at Ackworth'),
 Row(id='27825781', title='Battle of Kyōkōji'),
 Row(id='58433764', title='Battle of Hojuji'),
 Row(id='45189625', title='Battle of Wambaw'),
 Row(id='31299473', title='Expedition of Zayd ibn Harithah (Wadi al-Qura)')]

In [126]:
articles[
    (articles.end_date_clean > 2000) & (articles.popularity_score > 0.2) & (articles.popularity_score < 1.5) 
].sort_values(by='popularity_score').head(200)

,id,title,categories,article_lenght,views,refs_count,link_count,death,locations,end_date_clean,ongoing,popularity_score
15430,50445824,Western Iran clashes (2016–present),military conflict,0.062986,0.000470,0.068,0.069416,116,Kurdistan Province Q134386,2016.0,False,0.200872
15533,50869354,Siege of Darayya and Muadamiyat,military conflict,0.057254,0.001112,0.076,0.066667,0,Darayya Q1033066,2016.0,False,0.201033
12700,38987750,Beitunia killings,civilian attack,0.073637,0.000228,0.074,0.053608,2,Beitunia Q528941,2014.0,False,0.201473
14346,45560460,Eastern al-Hasakah offensive,military conflict,0.060281,0.000900,0.071,0.069416,182,Al- Hasakah Governorate Q233914,2015.0,False,0.201597
15002,48667439,Colorado Springs Planned Parenthood shooting,"civilian attack, criminal",0.053533,0.007723,0.062,0.078351,3,Colorado Springs Q49258|Planned Parenthood ...,2015.0,False,0.201606
12090,36644646,August 2012 Sinai attack,civilian attack,0.067775,0.000361,0.068,0.066667,24,Sinai Peninsula Q36755,2012.0,False,0.202803
9946,28892945,Rocket attacks on Eilat and Aqaba,"civilian attack, civilian attack, civilian att...",0.045650,0.000479,0.058,0.098969,0,Eilat Q134762|Aqaba Q180522,2017.0,False,0.203098
15636,51274658,2016 Ethiopian protests,civil conflict,0.044717,0.004066,0.054,0.100344,0,Amhara Region|Gondar|Addis Ababa|Bahir Dar|...,2018.0,False,0.203127
1783,1173504,First Ivorian Civil War,military conflict,0.060409,0.005244,0.041,0.096907,1500,Ivory Coast Q1008,2007.0,False,0.203560
15253,49584267,Siege of Fallujah (2016),military conflict,0.062363,0.003999,0.077,0.060481,190,Fallujah Q191170,2016.0,False,0.203843
17161,57449659,Santa Fe High School shooting,civilian attack,0.054398,0.016288,0.066,0.067354,10,Santa Fe High School Q53727686,2018.0,False,0.204039
10738,31941905,Battle of Zinjibar,military conflict,0.060566,0.000479,0.077,0.066667,900,Zinjibar Q204391,2011.0,False,0.204711
15801,52047926,Western al-Bab offensive (October–November 2016),military conflict,0.052373,0.000767,0.079,0.072852,444,Azaz Q4118348,2016.0,False,0.204993
16259,53730237,Palm Sunday church bombings,civilian attack,0.046418,0.001426,0.070,0.087285,47,Tanta Q271771|Alexandria Q87,2017.0,False,0.205129
14723,47414490,Al-Ghab offensive (July–August 2015),military conflict,0.062593,0.001133,0.068,0.073540,412,Al- Ghab plain Q4702413,2015.0,False,0.205266
9744,28244607,2010 Israel–Lebanon border clash,military conflict,0.078934,0.001861,0.067,0.057732,2,Israel and Lebanon|near the Israeli commu...,2010.0,False,0.205526
14211,45030093,2015 Gyumri massacre,civilian attack,0.051650,0.000702,0.075,0.078351,7,Gyumri Q199500,2015.0,False,0.205702
17052,57081455,Kathua rape case,civilian attack,0.055610,0.015827,0.069,0.065292,0,Kathua|Jammu and Kashmir,2018.0,False,0.205729
7511,18323435,2008 Georgian spy plane shootdowns,military conflict,0.073327,0.000344,0.044,0.088660,0,Ochamchira District Q621000,2008.0,False,0.206330
7987,20923781,Battle of Kilinochchi 2008–09,military conflict,0.065855,0.000042,0.065,0.075601,0,Kilinochchi Q303317,2009.0,False,0.206499
15564,51017777,Rif Dimashq offensive (June–October 2016),military conflict,0.058946,0.001585,0.100,0.046048,0,Eastern Ghouta|Rif Dimashq Governorate|Syria,2016.0,False,0.206579
8267,22351788,Maersk Alabama hijacking,military conflict,0.044027,0.040279,0.044,0.078351,0,convert 240 nmi lk in off the coast of Som...,2009.0,False,0.206656
6750,13848724,October 2007 clashes in Hakkâri,military conflict,0.045869,0.000267,0.063,0.097595,27,Hakkâri Province Q93209,2007.0,False,0.206730
12135,36822554,Rif Dimashq offensive (August–October 2012),military conflict,0.062558,0.000729,0.079,0.064605,0,Rif Dimashq Governorate Q232399,2012.0,False,0.206892
16086,53171918,Daraa offensive (February–June 2017),military conflict,0.060549,0.000822,0.078,0.068041,278,Daraa Q238217,2017.0,False,0.207412
12872,39542481,Terrorist incidents in Pakistan in 2015,military conflict,0.055884,0.001730,0.126,0.024055,287,Pakistan Q843,2015.0,False,0.207669
14900,48325197,FeesMustFall,civil conflict,0.071479,0.006367,0.075,0.054983,0,South Africa,2016.0,False,0.207829
4494,5250634,2004 unrest in Kosovo,civil conflict,0.063227,0.002354,0.055,0.087285,0,Kosovo|United Nations Interim Administratio...,2004.0,False,0.207866
11150,33285346,Occupy Portland,civil conflict,0.059643,0.000497,0.069,0.081787,0,Portland|Oregon Portland|Oregon,2011.0,False,0.210927
14505,46656542,Kumanovo clashes,military conflict,0.052528,0.001602,0.067,0.090034,45,Kumanovo Q54452,2015.0,False,0.211164
...,...,...,...,...,...,...,...,...,...,...,...,...
14489,46597403,Burundian unrest (2015–present),civil conflict,0.077930,0.002942,0.105,0.083162,0,Bujumbura|Burundi,2015.0,False,0.269033
12148,36884753,Lopota incident,military conflict,0.087082,0.000425,0.084,0.097595,8,Lopota Q12866388,2012.0,False,0.269102
214,82980,Kidnapping of Elizabeth Smart,civilian attack,0.075052,0.045261,0.057,0.092784,0,Abduction br Salt Lake City|Utah|U S Confin...,2003.0,False,0.270097
5769,9590186,2007 Samjhauta Express bombings,civilian attack,0.083515,0.006681,0.081,0.099656,68,Diwana railway station Diwana|Panipat|Haryan...,2007.0,False,0.270853
83,43063,Operation Anaconda,military conflict,0.083990,0.012662,0.034,0.140206,97,Shah- i- Kot Valley Q16205112,2002.0,False,0.270858
16393,54337100,2017 Finsbury Park attack,civilian attack,0.066484,0.006660,0.110,0.087973,1,Seven Sisters Road Q3298343,2017.0,False,0.271117
15390,50228124,2016 Macedonian protests,civil conflict,0.065875,0.001275,0.080,0.125086,0,Mostly in Skopje|Republic of Macedonia Mac...,2016.0,False,0.272236
15810,52121616,Aleppo offensive (October–November 2016),military conflict,0.074164,0.003737,0.119,0.075601,817,Aleppo Q41183,2016.0,False,0.272502
13724,43003421,2014 Jinnah International Airport attack,"civilian attack, aircraft occurrence",0.073627,0.001633,0.085,0.112715,46,NaN,2014.0,False,0.272975
8849,24549387,Operation Scorched Earth,military conflict,0.083482,0.001715,0.113,0.074914,500,Saada Governorate Q275732,2010.0,False,0.273111
8255,22302362,Australian frontier wars,military conflict,0.091107,0.008282,0.030,0.145017,2250,Australia Q408,2006.0,False,0.274406
14530,46733757,2015 Waco shootout,civil conflict,0.085267,0.016242,0.083,0.090722,9,Waco|Texas|U S,2015.0,False,0.275231
13827,43472728,Sinjar massacre,military conflict,0.075834,0.012792,0.083,0.105155,5000,Sinjar Q955690,2014.0,False,0.276780
15183,49329239,Russo-Turkish confrontation in Syria,military conflict,0.061763,0.000674,0.089,0.125773,8,Syria Turkey border Q3088996,2016.0,False,0.277210
7181,16339514,Insurgency in Aceh,military conflict,0.094568,0.002718,0.091,0.089347,4081,Aceh Q1823,2005.0,False,0.277633
11585,34903693,Chardon High School shooting,civilian attack,0.085772,0.035617,0.085,0.072165,3,Chardon High School Q5074205,2012.0,False,0.278554
10308,30609322,Domodedovo International Airport bombing,civilian attack,0.069870,0.003418,0.090,0.115464,37,Domodedovo Q135410,2011.0,False,0.278752
15591,51095570,2016 shooting of Baton Rouge police officers,"civilian attack, criminal",0.078180,0.007060,0.076,0.117526,4,Baton Rouge Q28218,2016.0,False,0.278766
13137,40547778,Washington Navy Yard shooting,"civilian attack, mass murderer",0.078302,0.011577,0.086,0.103093,13,Washington Navy Yard Q1637241,2013.0,False,0.278972
1212,591689,First Battle of Fallujah,military conflict,0.065012,0.012544,0.056,0.145704,27,Fallujah Q191170,2004.0,False,0.279261
17188,57518324,2018 Brazil truck drivers' strike,civil conflict,0.090800,0.000913,0.112,0.075601,0,All Brazilian states and the Federal Dis...,2018.0,False,0.279315
14019,44178375,Operation Impact,military conflict,0.088317,0.003452,0.095,0.092784,1,NaN,2014.0,False,0.279552
16890,56588857,Al Hudaydah offensive,military conflict,0.074238,0.000131,0.148,0.057732,1708,Al Hudaydah Governorate Q275755,2017.0,False,0.280101
16498,54878375,Danzig Street shooting,civilian attack,0.139021,0.001197,0.087,0.053608,2,West Hill Q7985375,2012.0,False,0.280826
15288,49778805,Palmyra offensive (March 2016),military conflict,0.071941,0.008287,0.105,0.096220,195,Tadmur District Q4120562,2016.0,False,0.281449
4260,4643078,Conflict in the Niger Delta,military conflict,0.076332,0.008327,0.054,0.142955,0,Niger Delta Q29412,2003.0,False,0.281614
12377,37791586,Timeline of the Egyptian Crisis under Mohamed ...,civil conflict,0.095679,0.000256,0.128,0.057732,34,flag Egypt,2012.0,False,0.281667
7346,17327836,2008 conflict in Lebanon,military conflict,0.077144,0.002164,0.072,0.130584,2035,Lebanon Q822,2008.0,False,0.281893
4810,6347633,Oakwood mutiny,military conflict,0.083186,0.003600,0.050,0.145704,0,Metro Manila Q13580,2003.0,False,0.282491
2933,2372429,Sectarian violence in Iraq (2006–08),military conflict,0.073931,0.000505,0.059,0.149141,0,Central Iraq and Baghdad,2008.0,False,0.282577

In [ ]:
# count the number of links
number_links = domains_count.map(lambda r: r[1]).reduce(add)
print("Total number of links: {}".format(number_links))

In [ ]:
def percentage(rdd):
    return Row(domain=rdd[0], count=rdd[1], perc=rdd[1]*100/number_links)

domains_distribution = sqlContext.createDataFrame(domains_count.map(percentage)).sort("count", ascending=False)
domains_distribution.show()

In [ ]:
domains_distribution_pd = domains_distribution.toPandas().set_index('domain')

In [ ]:
domains_distribution_pd20 = domains_distribution_pd.head(15)

# plot using bar plot
f, ax1 = plt.subplots()
plt.sca(ax1)
sns.barplot(domains_distribution_pd20['perc'], domains_distribution_pd20.index, palette="YlOrRd", ax=ax1, orient='h')
plt.xlabel('Percentage of references [%]',fontsize=18)
plt.ylabel('Domains',fontsize=18)
f.suptitle('Bar plot of percentage of references for domains', fontsize=20)
f.set_size_inches(10, 10)
plt.show()

In [ ]:
domains_distribution_pd20 = domains_distribution_pd.head(15)

# plot using bar plot
f, ax1 = plt.subplots()
plt.sca(ax1)
sns.barplot(domains_distribution_pd20['perc'], domains_distribution_pd20.index, palette="YlOrRd", ax=ax1, orient='h')
plt.xlabel('Percentage of references [%]',fontsize=18)
plt.ylabel('Domains',fontsize=18)
f.suptitle('Bar plot of percentage of references for domains', fontsize=20)
f.set_size_inches(10, 10)
plt.show()