In [1]:
import os.path
import re
import pandas as pd
import matplotlib.pyplot as plt
import hashlib
import requests

from pandas.io.json import json_normalize


%matplotlib inline

import os
import sys

try:
    from urllib.parse import urlparse
except ImportError:
     from urlparse import urlparse

import seaborn as sns
import numpy as np

DATA_DIR = '../data/data_processed/'

In [2]:
articles = pd.read_csv(DATA_DIR + 'NAS_articles_popularity_score.csv', index_col=0)
articles.index.names = ['id']

In [3]:
ordered_articles = articles.sort_values(by="popularity_score").reset_index()

In [4]:
ordered_articles = ordered_articles.reset_index()
ordered_articles = ordered_articles.rename(columns={'index': 'ranking'})
ordered_articles

,ranking,id,title,categories,scaled_length,scaled_views,scaled_refs,scaled_links,death,locations,end_date_clean,ongoing,popularity_score,article_lenght,views,refs_count,link_count
0,0,49532277,Hashimiya attack,civilian attack,0.000558,0.000021,0.000,0.000687,75,Hashimiya|Iraq,2014.0,False,0.001267,881,753,0,2
1,1,58421339,Fifth Third Center shooting,civilian attack,0.000431,0.000043,0.001,0.000687,0,NaN,0.0,False,0.002161,800,1501,1,2
2,2,49429205,January 2015 Maiduguri suicide bombing,civilian attack,0.000470,0.000011,0.001,0.002062,19,Maiduguri|Nigeria,0.0,False,0.003543,825,420,1,4
3,3,50567259,Transkei War,military conflict,0.000786,0.000019,0.000,0.002749,7000,South Africa Q258,1836.0,False,0.003554,1026,679,0,5
4,4,56640476,Operation of Sidi Aïch,military conflict,0.002870,0.000005,0.001,0.000000,0,Sidi Aïch|Tunisia,2015.0,False,0.003875,2351,206,1,1
5,5,32166814,Conquest of Ai,military conflict,0.000483,0.000021,0.000,0.003436,0,Ai Q403166,1400.0,False,0.003940,833,759,0,6
6,6,51033965,Punjab War,military conflict,0.000404,0.000205,0.000,0.003436,0,Punjab,1820.0,False,0.004046,783,6992,0,6
7,7,41345416,Battle of Deefa,military conflict,0.000566,0.000089,0.000,0.003436,0,Deefa|Oman,1968.0,False,0.004092,886,3056,0,6
8,8,3216047,Sack of Dun Gallimhe,military conflict,0.000182,0.000037,0.000,0.004124,0,NaN,1247.0,False,0.004343,642,1288,0,7
9,9,49532230,5 February 2014 Baghdad bombings,civilian attack,0.001437,0.000015,0.001,0.002062,32,Baghdad|Iraq,2014.0,False,0.004514,1440,542,1,4
10,10,53563856,Second Battle of Nanning,military conflict,0.000000,0.000008,0.000,0.004811,0,Nanning Q179608,1930.0,False,0.004819,526,304,0,8
11,11,50373289,Sizzlers massacre,civilian attack,0.000720,0.000205,0.002,0.002062,9,Sea Point Q2383557,2003.0,False,0.004987,984,6967,2,4
12,12,49429234,Monguno bombing,civilian attack,0.000963,0.000013,0.002,0.002062,63,Monguno Q15043599,2015.0,False,0.005038,1138,490,2,4
13,13,38928141,Battle of Møn (1657),military conflict,0.000920,0.000027,0.000,0.004124,40,Between Møn and Bornholm|Denmark,1657.0,False,0.005071,1111,971,0,7
14,14,27494892,Battle of Maison Carrée,military conflict,0.000912,0.000053,0.000,0.004124,0,Algiers Q3561,1832.0,False,0.005088,1106,1820,0,7
15,15,48494190,Kurram incident,military conflict,0.001447,0.000040,0.001,0.002749,0,Durand Line Q288292,2010.0,False,0.005236,1446,1388,1,5
16,16,3155017,Battle of the Baetis River,military conflict,0.000481,0.000143,0.000,0.004811,0,near the Baetis River|Hispania,0.0,False,0.005435,832,4879,0,8
17,17,53563811,Battle of Nanning,military conflict,0.000116,0.000014,0.000,0.005498,0,Nanning Q179608,1929.0,False,0.005629,600,530,0,9
18,18,52422234,Battle of Mizpah,military conflict,0.001117,0.000028,0.000,0.004811,0,Mizpah in Benjamin Q1755389,0.0,False,0.005956,1236,987,0,8
19,19,6304854,Battle of Higos Urco,military conflict,0.000541,0.000025,0.000,0.005498,0,Chachapoyas Q757133,1821.0,False,0.006064,870,880,0,9
20,20,39440020,Expedition to Hernando,military conflict,0.001128,0.000017,0.001,0.004124,0,Mississippi,1863.0,False,0.006268,1243,619,1,7
21,21,3239443,Battle of Tragh-Bhaile,military conflict,0.001058,0.000101,0.001,0.004124,0,Ireland Q22890,1399.0,False,0.006283,1199,3469,1,7
22,22,53564213,Battle of Jinan (1930),military conflict,0.000217,0.000009,0.000,0.006186,0,Jinan Q170247,1930.0,False,0.006412,664,355,0,10
23,23,55571911,2016 Coimbatore riots,civil conflict,0.001280,0.000021,0.001,0.004124,0,Coimbatore|Tamil Nadu,2016.0,False,0.006424,1340,737,1,7
24,24,19839055,Battle of Shayuan,military conflict,0.000193,0.000056,0.000,0.006186,76000,Shaanxi Q47974,537.0,False,0.006435,649,1950,0,10
25,25,53563895,Second Battle of Guilin,military conflict,0.000349,0.000007,0.000,0.006186,0,Guilin Q189633,1930.0,False,0.006542,748,282,0,10
26,26,45625603,Aden Airport attack,military conflict,0.000705,0.000042,0.001,0.004811,9,Aden Q131694,1965.0,False,0.006558,974,1477,1,8
27,27,11850256,Operation Dawn 3,military conflict,0.002980,0.000204,0.000,0.003436,0,Mehran Q720410,1983.0,False,0.006621,2421,6959,0,6
28,28,48494246,Datta Khel incident,military conflict,0.001850,0.000074,0.002,0.002749,0,Durand Line Q288292,2011.0,False,0.006673,1702,2551,2,5
29,29,43051334,Colo Wars,military conflict,0.001551,0.000040,0.001,0.004124,0,Fiji Q712,1870.0,False,0.006715,1512,1409,1,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17437,17437,47894039,Kurdish–Turkish conflict (2015–present),military conflict,0.339543,0.007533,0.453,0.501031,8255,Eastern Anatolia Region Q155542,2015.0,False,1.301106,216420,254912,453,730
17438,17438,48026864,Russian military intervention in the Syrian Ci...,military conflict,0.339661,0.049371,0.505,0.413746,112,Al- Raqqah Governorate Q235563|Hama Governo...,2015.0,False,1.307777,216495,1670544,505,603
17439,17439,4022115,Croatian War of Independence,military conflict,0.367196,0.040358,0.363,0.545017,400000,Croatia Q224,1995.0,False,1.315572,234003,1365604,363,794
17440,17440,14889,Iran–Iraq War,military conflict,0.419776,0.095701,0.221,0.579381,800000,Iran Q794|Iraq Q796|Persian Gulf Q34675,1988.0,False,1.315859,267435,3238190,221,844
17441,17441,58568,Suez Crisis,military conflict,0.398211,0.114572,0.389,0.418557,0,Gaza Strip Q39760,1956.0,False,1.320339,253723,3876684,389,610
17442,17442,13425800,War on Terror,military conflict,0.320299,0.085617,0.287,0.630241,0,Earth Q2,2016.0,False,1.323156,204184,2896962,287,918
17443,17443,140376,Armenian Genocide,civilian attack,0.371960,0.193382,0.283,0.476289,1200000,Ottoman Empire Q12560|Western Armenia Q231...,2018.0,False,1.324631,237032,6543306,283,694
17444,17444,42228673,Annexation of Crimea by the Russian Federation,military conflict,0.353287,0.070934,0.419,0.487285,1,Crimean Peninsula Q7835,2014.0,False,1.330507,225159,2400168,419,710
17445,17445,46215853,Yemeni Civil War (2015–present),military conflict,0.447354,0.073866,0.454,0.385567,15035,Yemen Q805|Najran Region Q464718,0.0,True,1.360786,284970,2499360,454,562
17446,17446,201936,2003 invasion of Iraq,military conflict,0.392599,0.087297,0.290,0.608247,551,Iraq Q796,2003.0,False,1.378144,250155,2953828,290,886
17447,17447,42098138,2014 pro-Russian unrest in Ukraine,civil conflict,0.411267,0.014927,0.493,0.502405,6331,Eastern Ukraine Q181386|Crimean Peninsula ...,2014.0,False,1.421600,262025,505110,493,732
17448,17448,43243199,2014 Israel–Gaza conflict,military conflict,0.460228,0.023374,0.609,0.371821,469,Gaza Strip Q39760|Israel Q801,2014.0,False,1.464423,293156,790926,609,542
17449,17449,34276,Yom Kippur War,military conflict,0.409056,0.103124,0.470,0.536082,0,Suez Canal Q899|Golan Heights Q83210|Sinai...,1973.0,False,1.518262,260619,3489332,470,781
17450,17450,20855562,Gaza War (2008–09),military conflict,0.504555,0.010623,0.527,0.479725,518,Gaza Strip Q39760|Southern District Q188781,2009.0,False,1.521903,321341,359468,527,699
17451,17451,16772,Korean War,"military conflict, East Asian",0.412307,0.374594,0.271,0.487973,566434,Korea Strait Q52052|Sea of Japan Q27092|K...,1953.0,False,1.545874,262686,12674791,271,711
17452,17452,43517689,International military intervention against ISIL,military conflict,0.475060,0.002674,0.570,0.525773,34000,Iraq Q796|Syria Q858|Libya Q1016|Nigeria Q...,2014.0,False,1.573508,302587,90535,570,766
17453,17453,863,American Civil War,military conflict,0.319410,0.522999,0.212,0.532646,828000,Southern United States Q49042|Northern Uni...,1865.0,False,1.587055,203619,17696187,212,776
17454,17454,5043324,Iraq War,military conflict,0.404177,0.169007,0.419,0.608935,117961,Iraq Q796,2011.0,False,1.601119,257517,5718543,419,887
17455,17455,42085878,Russian military intervention in Ukraine (2014...,military conflict,0.498079,0.038138,0.590,0.490034,4500,Crimean Peninsula Q7835|Donetsk Oblast Q20...,2014.0,False,1.616251,317223,1290459,590,714
17456,17456,6750583,History of Xinjiang,"military conflict, military conflict",0.571969,0.002757,0.570,0.474227,0,Tarim Basin in Xinjiang,0.0,False,1.618953,364205,93320,570,691
17457,17457,3030955,Kashmir conflict,military conflict,0.571790,0.073410,0.519,0.542268,0,Kashmir Q43100,0.0,True,1.706468,364091,2483943,519,790
17458,17458,43227423,Israeli–Syrian ceasefire line incidents during...,military conflict,0.359331,0.001885,0.488,0.932646,2018,Syria Q858,0.0,True,1.781862,229002,63827,488,1358
17459,17459,5058690,September 11 attacks,civilian attack,0.344599,0.657085,0.366,0.434364,3000,Arlington County Q107126|Manhattan Q11299|S...,2001.0,False,1.802048,219635,22233107,366,633
17460,17460,771,American Revolutionary War,military conflict,0.375011,0.259929,0.598,0.634364,70000,Eastern North America|Caribbean Sea|Indian ...,1783.0,False,1.867305,238972,8794983,598,924
17461,17461,42563745,War in Donbass,military conflict,0.617529,0.093217,0.734,0.692784,15311,Donets Basin Q605714|Donetsk Oblast Q20120...,2014.0,False,2.137529,393174,3154112,734,1009
17462,17462,46230181,Saudi Arabian-led intervention in Yemen,military conflict,0.683026,0.046684,0.818,0.738144,0,Yemen Q805,0.0,True,2.285854,434819,1579624,818,1075
17463,17463,52019122,Battle of Mosul (2016–2017),military conflict,1.000000,0.004915,1.000,0.341581,9100,Erbil Governorate Q213189|Nineveh Governora...,2017.0,False,2.346496,636363,166343,1000,498
17464,17464,4764461,World War I,military conflict,0.446100,0.930421,0.254,0.860481,17000000,Europe Q46|Australia and Oceania Q55643|Mi...,1918.0,False,2.491002,284173,31481685,254,1253
17465,17465,32611,Vietnam War,military conflict,0.534488,0.652728,0.536,0.832302,950765,South Vietnam Q180573,1975.0,False,2.555518,340373,22085710,536,1212
17466,17466,32927,World War II,military conflict,0.350225,1.000000,0.238,1.000000,73000000,Russia Q159|Europe Q46|Africa Q15|Pacific ...,1945.0,False,2.588225,223212,33835972,238,1456

### recupero dati dai results

In [5]:
r = requests.get('http://ada.ineeda.space/getResults.php')
print('Response body (parsed json):')
jsonResults = r.json()
results_pd = json_normalize(jsonResults)

Response body (parsed json):

In [6]:
results_pd[['ref1','ref2']]

          ref1      ref2
0     34181799   4764461
1        34276  34166492
2     53559919  52019122
3     13846188  32496189
4     43227423  49069111
5     12336420  52048842
6     24821786  19345883
7       201936  21493140
8     46230181   3832376
9     32964156       771
10    42563745  47631524
11      814723   8146656
12    30953015   4018936
13         863  14305918
14     6750583   1522864
15     5043324   1615898
16         771   6918478
17     4022115  22549789
18         863  45274803
19       32611  31221254
20      519489   2708072
21      240148    225283
22     3409373    590246
23    27855447  43227423
24     5058690  38072526
25    40939672  11663850
26    31339576       771
27     2057074     32611
28    30718047     34276
29    49516977   3177125
...        ...       ...
2058     32927  36927014
2059   2154748   4764461
2060  50567259     16772
2061   2658719   3030955
2062    201936  53551016
2063  47086746       771
2064  43227423  58122762
2065  43088025  52019122
2066  38574434     32927
2067  20903393     32611
2068  39543021  44890779
2069  41181297  23564926
2070  44480279  46215853
2071  39624863  30876395
2072  52910101   6299613
2073  42085878   3162710
2074  54135280   3030955
2075  54618623  43227423
2076  25873054    464071
2077   1256590   6750583
2078       771  28646412
2079  52958842  46230181
2080   1310350  42228673
2081     24121  43517689
2082  34337689  39540142
2083  53756873  43227423
2084   5058690   8782501
2085  32474888    764810
2086       771  22775047
2087  34963936   4584893

[2088 rows x 2 columns]

In [7]:
results_pd['ref1'] = results_pd.ref1.astype(int)
results_pd['ref2'] = results_pd.ref2.astype(int)
results_pd['result'] = results_pd.result.astype(int)

duplicati

In [8]:
a = results_pd.groupby(['ref1','ref2']).count()
a[a.result > 1]

                   result
ref1     ref2
0        48545523       2
771      252846         2
         40950218       2
863      52717005       2
32611    57470685       2
32927    30207234       2
70181    140376         2
201936   51035921       2
799679   36141091       2
1021687  863            2
1059855  4764461        2
1439685  46215853       2
1652975  14049933       2
1856025  47894039       2
3030955  25892827       2
3257081  36494808       2
3770751  43227423       3
4006553  7746616        2
5043324  401909         2
         4478023        2
5137464  41181297       2
5357959  36197          2
6299613  46973028       5
7409287  36197          4
7746616  277783         2
7761623  32927          2
10396793 6730717        2
10852367 200987         9
11455647 22623199       2
12359069 32927          2
12697212 20855562       2
13425800 28160913       2
13735436 863            2
18423367 5058690        2
18842471 50792014       2
20683060 32611          2
22937234 32927          2
24417962 6750583        2
25566083 46230181       2
26397119 5043324        2
33800638 32611          2
34472007 51046467       2
42563890 6750583        2
43517689 43060786       2
44855655 41181297       3
45546772 863            2
48581121 799679         2
48958544 8442323        3
51076275 3171634        2
52019122 56704492       2
52048588 47894039       2
53415419 464071         2
58112781 4764461       13

In [9]:
results_pd[results_pd[['ref1','ref2']].duplicated(keep=False)]

          ref1      ref2  result
118   33800638     32611       2
119   33800638     32611       2
228   44855655  41181297       0
229   44855655  41181297       0
230   44855655  41181297       0
242   58112781   4764461       2
243   58112781   4764461       2
244   58112781   4764461       2
245   58112781   4764461       2
246   58112781   4764461       0
247   58112781   4764461       2
248   58112781   4764461       2
249   58112781   4764461       2
250   58112781   4764461       2
251   58112781   4764461       2
252   58112781   4764461       2
253   58112781   4764461       2
254   58112781   4764461       2
259        771  40950218       1
274   48958544   8442323       0
275   48958544   8442323       0
276   48958544   8442323       0
278     201936  51035921       0
279     201936  51035921       0
281        863  52717005       0
282        863  52717005       0
283    5043324    401909       0
284    5043324    401909       0
287     799679  36141091       0
289     799679  36141091       0
...        ...       ...     ...
639    3257081  36494808       0
640    3257081  36494808       0
737      70181    140376       2
738      70181    140376       2
756    7761623     32927       2
880   34472007  51046467       0
881   34472007  51046467       2
935    5137464  41181297       0
936    5137464  41181297       0
1168         0  48545523       0
1454   3030955  25892827       1
1533         0  48545523       2
1548   3770751  43227423       0
1549   3770751  43227423       0
1550   3770751  43227423       0
1560  10852367    200987       2
1561  10852367    200987       2
1562  10852367    200987       0
1563  10852367    200987       2
1564  10852367    200987       2
1565  10852367    200987       2
1566  10852367    200987       2
1567  10852367    200987       2
1568  10852367    200987       2
1922   7761623     32927       2
1966  43517689  43060786       0
1974  42563890   6750583       0
1975  42563890   6750583       0
1997  43517689  43060786       0
2050       771  40950218       1

[132 rows x 3 columns]

In [10]:
duplicated_res = results_pd[(results_pd.result != 0) & (results_pd[['ref1','ref2']].duplicated()) & ~(results_pd[['ref1','ref2','result']].duplicated())]
duplicated_res

          ref1      ref2  result
336      32611  57470685       1
881   34472007  51046467       2
1454   3030955  25892827       1
1533         0  48545523       2

ci sono 4 che sono duplicati e che si contraddicono.. sono 8 su 2000 e passa, io li tolgo

In [11]:
for index, row in duplicated_res.iterrows():
    results_pd = results_pd.drop(results_pd[(results_pd.ref1 == row.ref1) & (results_pd.ref2 == row.ref2)].index)

verifico che non ci siano più quei duplicati

In [12]:
results_pd[(results_pd.result != 0) & (results_pd[['ref1','ref2']].duplicated()) & ~(results_pd[['ref1','ref2','result']].duplicated())]

Empty DataFrame
Columns: [ref1, ref2, result]
Index: []

perfetto!

## Inizio il ranking

In [13]:
ordered_articles[ordered_articles['id'] == 23497381].ranking.item()

12767

In [14]:
totalOk = 0

for index, row in results_pd[results_pd['result'] != 0].iterrows():
    articleID1 = row['ref1']
    articleID2 = row['ref2']
    result = row['result']
    
    ranking1 = ordered_articles[ordered_articles['id'] == articleID1].ranking.item()
    ranking2 = ordered_articles[ordered_articles['id'] == articleID2].ranking.item()
    
    predictedResult = (1, 2)[ranking1 < ranking2]
    
    if(predictedResult == result):
        totalOk+=1

In [15]:
totalResponses = len(results_pd[results_pd['result'] != 0].index)

In [16]:
percCorrects = totalOk/totalResponses*100

In [17]:
percCorrects

94.25612052730696

# Explain the questionaire

Finally we want to double check that our score is correlated with what people think. We writed a survey in order to verify that our metric was accurate.

We collected 2088 anserws from more than 20 people. The user choices between left, right or None in order to indicate the most popular conflict between the 2 proposed, i.e. it is a binary survey. 

The coverage of the survey is not increadible (12%) because we have more than 17 000 articles that can be used to write the survey, and some are very very unknown. Therefore, we randomly selected only articles that coresponded to the midle top part of our ranking.


We counted the number of correct answer for each popularity duel and we found out that 94 % of the answers to the questionaire matche our popularity score, not bad! 

The metric seems thus captured the popularity of the article. In this 6%, most of the errors seem to come more from a missclick or a confusion rather than an error in our metric. For instance, two users thought that World War I is less popular than 2009 Jaipur fire or Battle of Adwa, which seems a bit unrealistic. Another group of errors arise from 2 unknown conflicts, like 2008 Bin Salman mosque bombing vs the Battle of Marawi. 
Having established that the metric seems realistic we continue our investigation looking at the findings that the metric could give us.

In [18]:
results_pd.head()

       ref1      ref2  result
0  34181799   4764461       2
1     34276  34166492       2
2  53559919  52019122       2
3  13846188  32496189       1
4  43227423  49069111       1

In [19]:
articles = pd.read_csv('../data/data_processed/NAS_articles_popularity_score.csv', index_col=0)
articles.head()

,title,categories,scaled_length,scaled_views,scaled_refs,scaled_links,death,locations,end_date_clean,ongoing,popularity_score,article_lenght,views,refs_count,link_count
id,,,,,,,,,,,,,,,
771,American Revolutionary War,military conflict,0.375011,0.259929,0.598,0.634364,70000,Eastern North America|Caribbean Sea|Indian ...,1783.0,False,1.867305,238972,8794983,598,924
863,American Civil War,military conflict,0.319410,0.522999,0.212,0.532646,828000,Southern United States Q49042|Northern Uni...,1865.0,False,1.587055,203619,17696187,212,776
3793,Battle of Bosworth Field,military conflict,0.152325,0.032733,0.034,0.208935,0,Ambion Hill Q4741491|Battle of Bosworth F...,1485.0,False,0.427993,97380,1107588,34,305
4005,Battle of Pharsalus,military conflict,0.034510,0.017785,0.020,0.067354,230,Farsala Q985596,0.0,False,0.139650,22469,601822,20,99
4049,Battle of Blenheim,military conflict,0.104371,0.013543,0.095,0.137457,24968,Blindheim Q514914,1704.0,False,0.350371,66889,458284,95,201

In [20]:
results_pd['ref1'].drop_duplicates().values

array([34181799,    34276, 53559919, ..., 53756873, 32474888, 34963936])

#### Coverage

In [21]:
# coverage
distinct_ref = set(results_pd['ref1'].drop_duplicates().values) | set(results_pd['ref2'].drop_duplicates().values)
all_ref = set(articles.index.values)
len(all_ref - distinct_ref)/len(all_ref) * 100 # 1 - COVERAGE

88.32426238900028

#### find pop of our questions

In [22]:
results_pd.shape[0]

2080

In [23]:
# join with pop score our original date to find out the pop
ref1_pop = pd.DataFrame(index=results_pd['ref1'])
ref2_pop = pd.DataFrame(index=results_pd['ref2'])
ref1_pop = ref1_pop.join(articles[['popularity_score', 'title']])
ref2_pop = ref2_pop.join(articles[['popularity_score', 'title']])
ref1_pop.head()

     popularity_score                       title
0                 NaN                         NaN
771          1.867305  American Revolutionary War
771          1.867305  American Revolutionary War
771          1.867305  American Revolutionary War
771          1.867305  American Revolutionary War

In [24]:
# join to result
results_pd = results_pd.join(ref1_pop, on='ref1')
results_pd.head()

       ref1      ref2  result  popularity_score                 title
0  34181799   4764461       2          0.199419  Murder of Ann Ogilby
1     34276  34166492       2          1.518262        Yom Kippur War
1     34276  34166492       2          1.518262        Yom Kippur War
1     34276  34166492       2          1.518262        Yom Kippur War
1     34276  34166492       2          1.518262        Yom Kippur War

In [25]:
results_pd = results_pd.join(ref2_pop, on='ref2',  lsuffix='_ref1', rsuffix='_ref2')
results_pd.head()

,ref1,ref2,result,popularity_score_ref1,title_ref1,popularity_score_ref2,title_ref2
0,34181799,4764461,2,0.199419,Murder of Ann Ogilby,2.491002,World War I
0,34181799,4764461,2,0.199419,Murder of Ann Ogilby,2.491002,World War I
0,34181799,4764461,2,0.199419,Murder of Ann Ogilby,2.491002,World War I
0,34181799,4764461,2,0.199419,Murder of Ann Ogilby,2.491002,World War I
0,34181799,4764461,2,0.199419,Murder of Ann Ogilby,2.491002,World War I

In [26]:
results_pd = results_pd.drop_duplicates(subset=['ref1', 'ref2', 'result'])
print(results_pd.shape[0]) # we loose 80 anserwers that are duplicates

2008

In [27]:
# select conflicts that are misclassified
mis_conflicts_ref1 = results_pd[(results_pd.result != 0)\
                                & (results_pd.result == 2) \
                                & (results_pd.popularity_score_ref1 > results_pd.popularity_score_ref2)]


mis_conflicts_ref2 = results_pd[(results_pd.result != 0)\
                                & (results_pd.result == 1) \
                                & (results_pd.popularity_score_ref1 < results_pd.popularity_score_ref2)]

In [37]:
mis_conflicts_ref1

,ref1,ref2,result,popularity_score_ref1,title_ref1,popularity_score_ref2,title_ref2
1,34276,34166492,2,1.518262,Yom Kippur War,0.023883,Operación Lince Norte
140,34059,18467559,2,1.097418,War of 1812,0.018897,Battle of Lottorf
195,39120733,4566736,2,1.160729,Boston Marathon bombing,0.082398,East L.A. walkouts
266,51082294,30821764,2,1.057113,2016 Turkish coup d'état attempt,0.027580,Battle of Tadla
321,42563745,34566761,2,2.137529,War in Donbass,0.110393,1979 Herat uprising
327,4764461,5013,2,2.491002,World War I,0.309383,Battle of Adwa
339,42517963,40046379,2,0.780871,Migration to Xinjiang,0.016567,Battle of Casma
365,34059,53108932,2,1.097418,War of 1812,0.066654,Siege of Breslau (1757)
807,80197,33693442,2,1.260673,Soviet–Afghan War,0.019495,2007 West Azerbaijan clashes
827,6750583,446789,2,1.618953,History of Xinjiang,0.031322,Battle of Krefeld
882,43227423,22554971,2,1.781862,Israeli–Syrian ceasefire line incidents during...,0.074186,Battle of Yehuling
1145,3030955,3093402,2,1.706468,Kashmir conflict,0.493986,Middle Eastern theatre of World War I
1163,37018641,56900222,2,1.152830,2012 Benghazi attack,0.060717,March 2018 Kabul suicide bombing
1177,51082294,17046016,2,1.057113,2016 Turkish coup d'état attempt,0.229177,Succession of Henry IV of France
1209,799679,54352051,2,1.229748,Japanese invasions of Korea (1592–98),0.107989,June 2017 Brussels attack
1347,16772,52166101,2,1.545874,Korean War,0.098322,Mass killings of landlords under Mao Zedong
1380,43227423,36636691,2,1.781862,Israeli–Syrian ceasefire line incidents during...,0.038172,Dakra massacre
1422,6750583,47178376,2,1.618953,History of Xinjiang,0.031127,Battle of Mount Hamrin
1428,42563745,333151,2,2.137529,War in Donbass,0.139660,Seventh Crusade
1452,19345883,52885934,2,1.070253,Iraq War in Anbar Province,0.016969,2016 Tunisian protests
1458,799679,43924701,2,1.229748,Japanese invasions of Korea (1592–98),0.056250,Russo-Persian War (1651–53)
1485,36895265,37734628,2,1.082343,List of drone strikes in Pakistan,0.063292,September 1991 Mineriad
1505,41181297,242354,2,1.254415,Euromaidan,0.338094,Third Macedonian War
1522,43227423,17273443,2,1.781862,Israeli–Syrian ceasefire line incidents during...,0.194631,Roman–Parthian Wars
1556,6750583,42044219,2,1.618953,History of Xinjiang,0.007264,Port Phillip District Wars
1760,43227423,886328,2,1.781862,Israeli–Syrian ceasefire line incidents during...,0.141504,Battle of Solebay
1803,42563745,1246225,2,2.137529,War in Donbass,0.260802,Spanish conquest of the Inca Empire
1804,34276,26775366,2,1.518262,Yom Kippur War,0.242594,1975 in the Vietnam War
1908,43227423,29793192,2,1.781862,Israeli–Syrian ceasefire line incidents during...,0.512114,People's Liberation Army at Tiananmen Square p...

In [38]:
mis_conflicts_ref2

,ref1,ref2,result,popularity_score_ref1,title_ref1,popularity_score_ref2,title_ref2
3,13846188,32496189,1,0.117815,Byzantine–Norman wars,1.138158,2011 Norway attacks
48,26121096,37930067,1,0.063930,Battle of Delaware Bay,1.107603,Sandy Hook Elementary School shooting
85,45625603,51082294,1,0.006558,Aden Airport attack,1.057113,2016 Turkish coup d'état attempt
96,6994817,863,1,0.055901,W. R. Myers High School shooting,1.587055,American Civil War
101,17248286,16772,1,0.021054,Siege of Danzig (1577),1.545874,Korean War
125,52166101,200987,1,0.098322,Mass killings of landlords under Mao Zedong,0.960319,Greek War of Independence
170,31860763,52019122,1,0.058460,Albania–Yugoslav border incident (April 1999),2.346496,Battle of Mosul (2016–2017)
260,46917969,34276,1,0.133203,Waterloo Campaign: Waterloo to Paris (2–7 July),1.518262,Yom Kippur War
268,17233989,54118340,1,0.015156,2008 Bin Salman mosque bombing,0.784813,Battle of Marawi
271,7668163,6750583,1,0.052011,Bombing of Duisburg in World War II,1.618953,History of Xinjiang
337,5030,3030955,1,0.488688,Bloody Sunday (1972),1.706468,Kashmir conflict
475,52823905,80197,1,0.114018,ISIL-related terror attacks in France,1.260673,Soviet–Afghan War
665,54160821,3177125,1,0.289025,2017 Portland train attack,1.090067,Springfield race riot of 1908
761,13954680,44534,1,0.027857,Chuknagar massacre,1.184175,Tiananmen Square protests of 1989
764,23373964,1652975,1,0.021295,June 2009 Baghdad bombing,0.984468,Appomattox Campaign
766,10459024,6750583,1,0.035576,2004 Iranian seizure of Royal Navy personnel,1.618953,History of Xinjiang
803,253934,42563745,1,0.629575,Allied invasion of Sicily,2.137529,War in Donbass
824,881819,42098138,1,0.146720,Sydney Hilton Hotel bombing,1.421600,2014 pro-Russian unrest in Ukraine
839,4418859,43227423,1,0.268912,Southern theater of the American Revolutionary...,1.781862,Israeli–Syrian ceasefire line incidents during...
894,886464,46230181,1,0.224241,Operation Winter Storm,2.285854,Saudi Arabian-led intervention in Yemen
915,30872531,140376,1,0.109412,French invasion of Normandy (1202–1204),1.324631,Armenian Genocide
1055,54187790,46230181,1,0.117763,May 2017 Kabul attack,2.285854,Saudi Arabian-led intervention in Yemen
1067,1277307,42563745,1,0.363492,Siege of Sevastopol (1941–42),2.137529,War in Donbass
1167,6577321,45420,1,0.058764,Battle of Saigon (1968),0.942640,Napoleonic Wars
1370,24334819,6750583,1,0.461771,French invasion of Russia,1.618953,History of Xinjiang
1395,41631998,46230181,1,0.266199,The Day We Fight Back,2.285854,Saudi Arabian-led intervention in Yemen
1418,52790679,33924,1,0.084959,Victoria station and Paddington station bombings,0.974958,Winter War
1473,2839784,43227423,1,0.044702,Battle of Las Salinas,1.781862,Israeli–Syrian ceasefire line incidents during...
1841,47394625,36197,1,0.233216,Duma arson attack,1.242594,1948 Arab–Israeli War
2011,25069258,4764461,1,0.100450,2009 Jaipur fire,2.491002,World War I
2039,863983,5043324,1,0.034977,Battle of Delhi (1803),1.601119,Iraq War
2087,34963936,4584893,1,0.010020,September 2006 Sardasht incident,0.966174,Revolutions of 1989

In [39]:
mis_all = set(mis_conflicts_ref1.title_ref1) | set(mis_conflicts_ref2.title_ref2)
len(mis_all) # sono più popolari di quello che dovevano essere

34

In [40]:
mis_all

{'1948 Arab–Israeli War',
 '2011 Norway attacks',
 '2012 Benghazi attack',
 '2014 pro-Russian unrest in Ukraine',
 "2016 Turkish coup d'état attempt",
 'American Civil War',
 'Appomattox Campaign',
 'Armenian Genocide',
 'Battle of Marawi',
 'Battle of Mosul (2016–2017)',
 'Boston Marathon bombing',
 'Euromaidan',
 'Greek War of Independence',
 'History of Xinjiang',
 'Iraq War',
 'Iraq War in Anbar Province',
 'Israeli–Syrian ceasefire line incidents during the Syrian Civil War',
 'Japanese invasions of Korea (1592–98)',
 'Kashmir conflict',
 'Korean War',
 'List of drone strikes in Pakistan',
 'Migration to Xinjiang',
 'Napoleonic Wars',
 'Revolutions of 1989',
 'Sandy Hook Elementary School shooting',
 'Saudi Arabian-led intervention in Yemen',
 'Soviet–Afghan War',
 'Springfield race riot of 1908',
 'Tiananmen Square protests of 1989',
 'War in Donbass',
 'War of 1812',
 'Winter War',
 'World War I',
 'Yom Kippur War'}

94 % of the answers to the questionaire matche our popularity score, not bad!