In [1]:
import os.path
import re
import pandas as pd
import matplotlib.pyplot as plt
import hashlib
import requests

from pandas.io.json import json_normalize


%matplotlib inline

import os
import sys

try:
    from urllib.parse import urlparse
except ImportError:
     from urlparse import urlparse

import seaborn as sns
import numpy as np

DATA_DIR = '../data/data_processed/'

In [2]:
articles = pd.read_csv(DATA_DIR + 'articles_popularity_score.csv', index_col=0)
articles.index.names = ['id']

In [3]:
ordered_articles = articles.sort_values(by="popularity_score").reset_index()

In [4]:
ordered_articles = ordered_articles.reset_index()
ordered_articles = ordered_articles.rename(columns={'index': 'ranking'})
ordered_articles

,ranking,id,title,categories,article_lenght,views,refs_count,link_count,death,locations,end_date_clean,ongoing,popularity_score
0,0,49532277,Hashimiya attack,civilian attack,0.000558,0.000021,0.000,0.000687,75,Hashimiya|Iraq,2014.0,False,0.001267
1,1,58421339,Fifth Third Center shooting,civilian attack,0.000431,0.000043,0.001,0.000687,0,NaN,0.0,False,0.002161
2,2,49429205,January 2015 Maiduguri suicide bombing,civilian attack,0.000470,0.000011,0.001,0.002062,19,Maiduguri|Nigeria,0.0,False,0.003543
3,3,50567259,Transkei War,military conflict,0.000786,0.000019,0.000,0.002749,7000,South Africa Q258,1836.0,False,0.003554
4,4,56640476,Operation of Sidi Aïch,military conflict,0.002870,0.000005,0.001,0.000000,0,Sidi Aïch|Tunisia,2015.0,False,0.003875
5,5,32166814,Conquest of Ai,military conflict,0.000483,0.000021,0.000,0.003436,0,Ai Q403166,1400.0,False,0.003940
6,6,51033965,Punjab War,military conflict,0.000404,0.000205,0.000,0.003436,0,Punjab,1820.0,False,0.004046
7,7,41345416,Battle of Deefa,military conflict,0.000566,0.000089,0.000,0.003436,0,Deefa|Oman,1968.0,False,0.004092
8,8,3216047,Sack of Dun Gallimhe,military conflict,0.000182,0.000037,0.000,0.004124,0,NaN,1247.0,False,0.004343
9,9,49532230,5 February 2014 Baghdad bombings,civilian attack,0.001437,0.000015,0.001,0.002062,32,Baghdad|Iraq,2014.0,False,0.004514
10,10,53563856,Second Battle of Nanning,military conflict,0.000000,0.000008,0.000,0.004811,0,Nanning Q179608,1930.0,False,0.004819
11,11,50373289,Sizzlers massacre,civilian attack,0.000720,0.000205,0.002,0.002062,9,Sea Point Q2383557,2003.0,False,0.004987
12,12,49429234,Monguno bombing,civilian attack,0.000963,0.000013,0.002,0.002062,63,Monguno Q15043599,2015.0,False,0.005038
13,13,38928141,Battle of Møn (1657),military conflict,0.000920,0.000027,0.000,0.004124,40,Between Møn and Bornholm|Denmark,1657.0,False,0.005071
14,14,27494892,Battle of Maison Carrée,military conflict,0.000912,0.000053,0.000,0.004124,0,Algiers Q3561,1832.0,False,0.005088
15,15,48494190,Kurram incident,military conflict,0.001447,0.000040,0.001,0.002749,0,Durand Line Q288292,2010.0,False,0.005236
16,16,3155017,Battle of the Baetis River,military conflict,0.000481,0.000143,0.000,0.004811,0,near the Baetis River|Hispania,0.0,False,0.005435
17,17,53563811,Battle of Nanning,military conflict,0.000116,0.000014,0.000,0.005498,0,Nanning Q179608,1929.0,False,0.005629
18,18,52422234,Battle of Mizpah,military conflict,0.001117,0.000028,0.000,0.004811,0,Mizpah in Benjamin Q1755389,0.0,False,0.005956
19,19,6304854,Battle of Higos Urco,military conflict,0.000541,0.000025,0.000,0.005498,0,Chachapoyas Q757133,1821.0,False,0.006064
20,20,39440020,Expedition to Hernando,military conflict,0.001128,0.000017,0.001,0.004124,0,Mississippi,1863.0,False,0.006268
21,21,3239443,Battle of Tragh-Bhaile,military conflict,0.001058,0.000101,0.001,0.004124,0,Ireland Q22890,1399.0,False,0.006283
22,22,53564213,Battle of Jinan (1930),military conflict,0.000217,0.000009,0.000,0.006186,0,Jinan Q170247,1930.0,False,0.006412
23,23,55571911,2016 Coimbatore riots,civil conflict,0.001280,0.000021,0.001,0.004124,0,Coimbatore|Tamil Nadu,2016.0,False,0.006424
24,24,19839055,Battle of Shayuan,military conflict,0.000193,0.000056,0.000,0.006186,76000,Shaanxi Q47974,537.0,False,0.006435
25,25,53563895,Second Battle of Guilin,military conflict,0.000349,0.000007,0.000,0.006186,0,Guilin Q189633,1930.0,False,0.006542
26,26,45625603,Aden Airport attack,military conflict,0.000705,0.000042,0.001,0.004811,9,Aden Q131694,1965.0,False,0.006558
27,27,11850256,Operation Dawn 3,military conflict,0.002980,0.000204,0.000,0.003436,0,Mehran Q720410,1983.0,False,0.006621
28,28,48494246,Datta Khel incident,military conflict,0.001850,0.000074,0.002,0.002749,0,Durand Line Q288292,2011.0,False,0.006673
29,29,43051334,Colo Wars,military conflict,0.001551,0.000040,0.001,0.004124,0,Fiji Q712,1870.0,False,0.006715
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17429,17429,47894039,Kurdish–Turkish conflict (2015–present),military conflict,0.339543,0.007533,0.453,0.501031,8255,Eastern Anatolia Region Q155542,2015.0,False,1.301106
17430,17430,48026864,Russian military intervention in the Syrian Ci...,military conflict,0.339661,0.049371,0.505,0.413746,112,Al- Raqqah Governorate Q235563|Hama Governo...,2015.0,False,1.307777
17431,17431,4022115,Croatian War of Independence,military conflict,0.367196,0.040358,0.363,0.545017,400000,Croatia Q224,1995.0,False,1.315572
17432,17432,14889,Iran–Iraq War,military conflict,0.419776,0.095701,0.221,0.579381,800000,Iran Q794|Iraq Q796|Persian Gulf Q34675,1988.0,False,1.315859
17433,17433,58568,Suez Crisis,military conflict,0.398211,0.114572,0.389,0.418557,0,Gaza Strip Q39760,1956.0,False,1.320339
17434,17434,13425800,War on Terror,military conflict,0.320299,0.085617,0.287,0.630241,0,Earth Q2,2016.0,False,1.323156
17435,17435,140376,Armenian Genocide,civilian attack,0.371960,0.193382,0.283,0.476289,1200000,Ottoman Empire Q12560|Western Armenia Q231...,2018.0,False,1.324631
17436,17436,42228673,Annexation of Crimea by the Russian Federation,military conflict,0.353287,0.070934,0.419,0.487285,1,Crimean Peninsula Q7835,2014.0,False,1.330507
17437,17437,46215853,Yemeni Civil War (2015–present),military conflict,0.447354,0.073866,0.454,0.385567,15035,Yemen Q805|Najran Region Q464718,0.0,True,1.360786
17438,17438,201936,2003 invasion of Iraq,military conflict,0.392599,0.087297,0.290,0.608247,551,Iraq Q796,2003.0,False,1.378144
17439,17439,42098138,2014 pro-Russian unrest in Ukraine,civil conflict,0.411267,0.014927,0.493,0.502405,6331,Eastern Ukraine Q181386|Crimean Peninsula ...,2014.0,False,1.421600
17440,17440,43243199,2014 Israel–Gaza conflict,military conflict,0.460228,0.023374,0.609,0.371821,469,Gaza Strip Q39760|Israel Q801,2014.0,False,1.464423
17441,17441,34276,Yom Kippur War,military conflict,0.409056,0.103124,0.470,0.536082,0,Suez Canal Q899|Golan Heights Q83210|Sinai...,1973.0,False,1.518262
17442,17442,20855562,Gaza War (2008–09),military conflict,0.504555,0.010623,0.527,0.479725,518,Gaza Strip Q39760|Southern District Q188781,2009.0,False,1.521903
17443,17443,16772,Korean War,"military conflict, East Asian",0.412307,0.374594,0.271,0.487973,566434,Korea Strait Q52052|Sea of Japan Q27092|K...,1953.0,False,1.545874
17444,17444,43517689,International military intervention against ISIL,military conflict,0.475060,0.002674,0.570,0.525773,34000,Iraq Q796|Syria Q858|Libya Q1016|Nigeria Q...,2014.0,False,1.573508
17445,17445,863,American Civil War,military conflict,0.319410,0.522999,0.212,0.532646,828000,Southern United States Q49042|Northern Uni...,1865.0,False,1.587055
17446,17446,5043324,Iraq War,military conflict,0.404177,0.169007,0.419,0.608935,117961,Iraq Q796,2011.0,False,1.601119
17447,17447,42085878,Russian military intervention in Ukraine (2014...,military conflict,0.498079,0.038138,0.590,0.490034,4500,Crimean Peninsula Q7835|Donetsk Oblast Q20...,2014.0,False,1.616251
17448,17448,6750583,History of Xinjiang,"military conflict, military conflict",0.571969,0.002757,0.570,0.474227,0,Tarim Basin in Xinjiang,0.0,False,1.618953
17449,17449,3030955,Kashmir conflict,military conflict,0.571790,0.073410,0.519,0.542268,0,Kashmir Q43100,0.0,True,1.706468
17450,17450,43227423,Israeli–Syrian ceasefire line incidents during...,military conflict,0.359331,0.001885,0.488,0.932646,2018,Syria Q858,0.0,True,1.781862
17451,17451,5058690,September 11 attacks,civilian attack,0.344599,0.657085,0.366,0.434364,3000,Arlington County Q107126|Manhattan Q11299|S...,2001.0,False,1.802048
17452,17452,771,American Revolutionary War,military conflict,0.375011,0.259929,0.598,0.634364,70000,Eastern North America|Caribbean Sea|Indian ...,1783.0,False,1.867305
17453,17453,42563745,War in Donbass,military conflict,0.617529,0.093217,0.734,0.692784,15311,Donets Basin Q605714|Donetsk Oblast Q20120...,2014.0,False,2.137529
17454,17454,46230181,Saudi Arabian-led intervention in Yemen,military conflict,0.683026,0.046684,0.818,0.738144,0,Yemen Q805,0.0,True,2.285854
17455,17455,52019122,Battle of Mosul (2016–2017),military conflict,1.000000,0.004915,1.000,0.341581,9100,Erbil Governorate Q213189|Nineveh Governora...,2017.0,False,2.346496
17456,17456,4764461,World War I,military conflict,0.446100,0.930421,0.254,0.860481,17000000,Europe Q46|Australia and Oceania Q55643|Mi...,1918.0,False,2.491002
17457,17457,32611,Vietnam War,military conflict,0.534488,0.652728,0.536,0.832302,950765,South Vietnam Q180573,1975.0,False,2.555518
17458,17458,32927,World War II,military conflict,0.350225,1.000000,0.238,1.000000,73000000,Russia Q159|Europe Q46|Africa Q15|Pacific ...,1945.0,False,2.588225

### recupero dati dai results

In [5]:
r = requests.get('http://ada.ineeda.space/getResults.php')
print('Response body (parsed json):')
jsonResults = r.json()
results_pd = json_normalize(jsonResults)

Response body (parsed json):

In [6]:
results_pd[['ref1','ref2']]

          ref1      ref2
0     34181799   4764461
1        34276  34166492
2     53559919  52019122
3     13846188  32496189
4     43227423  49069111
5     12336420  52048842
6     24821786  19345883
7       201936  21493140
8     46230181   3832376
9     32964156       771
10    42563745  47631524
11      814723   8146656
12    30953015   4018936
13         863  14305918
14     6750583   1522864
15     5043324   1615898
16         771   6918478
17     4022115  22549789
18         863  45274803
19       32611  31221254
20      519489   2708072
21      240148    225283
22     3409373    590246
23    27855447  43227423
24     5058690  38072526
25    40939672  11663850
26    31339576       771
27     2057074     32611
28    30718047     34276
29    49516977   3177125
...        ...       ...
2034  46215853  53592047
2035   4764461  39436402
2036   5043324  17323845
2037  56640476  54118340
2038  42563745  33645901
2039    863983   5043324
2040   4764461  35496015
2041  25408724    201936
2042     34059    363433
2043    394664  20855562
2044  46215853  22670028
2045  22758914  52019122
2046  52019122  40354860
2047    395603   4764461
2048     32611   7179803
2049   9962497     32611
2050       771  40950218
2051  33608429  46951963
2052  40035227  44969225
2053  51892275   4764461
2054   4022115   2329604
2055     83938   4220374
2056  34419956     32611
2057     16772     31570
2058     32927  36927014
2059   2154748   4764461
2060  50567259     16772
2061   2658719   3030955
2062    201936  53551016
2063  47086746       771

[2064 rows x 2 columns]

In [7]:
results_pd['ref1'] = results_pd.ref1.astype(int)
results_pd['ref2'] = results_pd.ref2.astype(int)
results_pd['result'] = results_pd.result.astype(int)

duplicati

In [33]:
a = results_pd.groupby(['ref1','ref2']).count()
a[a.result > 1]

                   result
ref1     ref2
0        48545523       2
771      252846         2
         40950218       2
863      52717005       2
32611    57470685       2
32927    30207234       2
70181    140376         2
201936   51035921       2
799679   36141091       2
1021687  863            2
1059855  4764461        2
1439685  46215853       2
1652975  14049933       2
1856025  47894039       2
3030955  25892827       2
3257081  36494808       2
3770751  43227423       3
4006553  7746616        2
5043324  401909         2
         4478023        2
5137464  41181297       2
5357959  36197          2
6299613  46973028       5
7409287  36197          4
7746616  277783         2
7761623  32927          2
10396793 6730717        2
10852367 200987         9
11455647 22623199       2
12359069 32927          2
12697212 20855562       2
13425800 28160913       2
13735436 863            2
18423367 5058690        2
18842471 50792014       2
20683060 32611          2
22937234 32927          2
24417962 6750583        2
25566083 46230181       2
26397119 5043324        2
33800638 32611          2
34472007 51046467       2
42563890 6750583        2
43517689 43060786       2
44855655 41181297       3
45546772 863            2
48581121 799679         2
48958544 8442323        3
51076275 3171634        2
52019122 56704492       2
52048588 47894039       2
53415419 464071         2
58112781 4764461       13

In [34]:
results_pd[results_pd[['ref1','ref2']].duplicated(keep=False)]

          ref1      ref2  result
118   33800638     32611       2
119   33800638     32611       2
228   44855655  41181297       0
229   44855655  41181297       0
230   44855655  41181297       0
242   58112781   4764461       2
243   58112781   4764461       2
244   58112781   4764461       2
245   58112781   4764461       2
246   58112781   4764461       0
247   58112781   4764461       2
248   58112781   4764461       2
249   58112781   4764461       2
250   58112781   4764461       2
251   58112781   4764461       2
252   58112781   4764461       2
253   58112781   4764461       2
254   58112781   4764461       2
259        771  40950218       1
274   48958544   8442323       0
275   48958544   8442323       0
276   48958544   8442323       0
278     201936  51035921       0
279     201936  51035921       0
281        863  52717005       0
282        863  52717005       0
283    5043324    401909       0
284    5043324    401909       0
287     799679  36141091       0
289     799679  36141091       0
...        ...       ...     ...
639    3257081  36494808       0
640    3257081  36494808       0
737      70181    140376       2
738      70181    140376       2
756    7761623     32927       2
880   34472007  51046467       0
881   34472007  51046467       2
935    5137464  41181297       0
936    5137464  41181297       0
1168         0  48545523       0
1454   3030955  25892827       1
1533         0  48545523       2
1548   3770751  43227423       0
1549   3770751  43227423       0
1550   3770751  43227423       0
1560  10852367    200987       2
1561  10852367    200987       2
1562  10852367    200987       0
1563  10852367    200987       2
1564  10852367    200987       2
1565  10852367    200987       2
1566  10852367    200987       2
1567  10852367    200987       2
1568  10852367    200987       2
1922   7761623     32927       2
1966  43517689  43060786       0
1974  42563890   6750583       0
1975  42563890   6750583       0
1997  43517689  43060786       0
2050       771  40950218       1

[132 rows x 3 columns]

In [61]:
duplicated_res = results_pd[(results_pd.result != 0) & (results_pd[['ref1','ref2']].duplicated()) & ~(results_pd[['ref1','ref2','result']].duplicated())]
duplicated_res

          ref1      ref2  result
336      32611  57470685       1
881   34472007  51046467       2
1454   3030955  25892827       1
1533         0  48545523       2

ci sono 4 che sono duplicati e che si contraddicono.. sono 8 su 2000 e passa, io li tolgo

In [62]:
for index, row in duplicated_res.iterrows():
    results_pd = results_pd.drop(results_pd[(results_pd.ref1 == row.ref1) & (results_pd.ref2 == row.ref2)].index)

verifico che non ci siano più quei duplicati

In [63]:
results_pd[(results_pd.result != 0) & (results_pd[['ref1','ref2']].duplicated()) & ~(results_pd[['ref1','ref2','result']].duplicated())]

Empty DataFrame
Columns: [ref1, ref2, result]
Index: []

perfetto!

## Inizio il ranking

In [72]:
ordered_articles[ordered_articles['id'] == 23497381].ranking.item()

12761

In [79]:
totalOk = 0

for index, row in results_pd[results_pd['result'] != 0].iterrows():
    articleID1 = row['ref1']
    articleID2 = row['ref2']
    result = row['result']
    
    ranking1 = ordered_articles[ordered_articles['id'] == articleID1].ranking.item()
    ranking2 = ordered_articles[ordered_articles['id'] == articleID2].ranking.item()
    
    predictedResult = (1, 2)[ranking1 < ranking2]
    
    if(predictedResult == result):
        totalOk+=1

999

In [83]:
totalResponses = len(results_pd[results_pd['result'] != 0].index)

In [85]:
percCorrects = totalOk/totalResponses*100

In [86]:
percCorrects

94.3342776203966