In [1]:
import os.path

import wptools
import pandas as pd
import sys, os

In [2]:
DATA_DIR = '../data/data_processed/'

In [3]:
old_articles = pd.read_csv(DATA_DIR + 'data_processed.csv', index_col=0)
old_articles.index.names = ['id']

In [4]:
minDate = 1995
articles = old_articles[(old_articles.end_date_clean >= minDate) & (old_articles.categories.str.contains("conflict"))].reset_index().reset_index().rename(columns={'index': 'n_conflict'})

In [5]:
articles

,n_conflict,id,title,categories,article_lenght,views,refs_count,link_count,death,locations,end_date_clean,ongoing
0,0,16760,Kosovo War,military conflict,197476,2368366,274,671,2057,Kosovo Q1231,1999.0,False
1,1,22738,Operation Enduring Freedom,military conflict,52281,1248100,60,228,45000,Afghanistan Q889,2014.0,False
2,2,30770,The Troubles,military conflict,143560,4660829,214,578,1049,Northern Ireland Q26,1998.0,False
3,3,43063,Operation Anaconda,military conflict,53930,428455,34,205,97,Shah- i- Kot Valley Q16205112,2002.0,False
4,4,71717,Second Intifada,military conflict,193420,680777,261,784,2005,Palestinian Authority|Israel,2005.0,False
5,5,140792,First Chechen War,military conflict,63641,985456,66,308,3000,Chechen Republic Q5187|Republic of Ingushe...,1996.0,False
6,6,171392,Second Chechen War,military conflict,134225,1385837,167,634,7321,Chechen Republic Q5187,2009.0,False
7,7,182821,Siege of Sarajevo,military conflict,78135,1060559,85,365,6137,Sarajevo Q11194,1996.0,False
8,8,201936,2003 invasion of Iraq,military conflict,250155,2953828,290,886,551,Iraq Q796,2003.0,False
9,9,202304,Protests against the Iraq War,civil conflict,85504,134088,111,317,0,Global,2002.0,False
10,10,203199,Bombing of Iraq (1998),military conflict,34098,257250,32,134,0,Iraq Q796,1998.0,False
11,11,203230,Iraqi no-fly zones,military conflict,15274,157829,17,94,60,Iraq Q796,2003.0,False
12,12,207031,Battle of Baghdad (2003),military conflict,35355,268340,45,118,4230,Baghdad Q1530,2003.0,False
13,13,225283,Sri Lankan Civil War,military conflict,210221,1336944,338,549,100000,Sri Lanka Q854,2009.0,False
14,14,252171,Operation Provide Comfort,military conflict,21245,122819,11,117,60,Northern Iraq,1996.0,False
15,15,312622,1999 Seattle WTO protests,civil conflict,34016,408094,41,111,0,Seattle|Washington|United States,1999.0,False
16,16,312905,Lebanese Civil War,military conflict,100634,1521029,69,561,0,Lebanon Q822,2005.0,False
17,17,314792,Operation Defensive Shield,military conflict,51443,97567,59,169,157,West Bank Q36678,2002.0,False
18,18,322473,NATO bombing of Yugoslavia,military conflict,108848,1045547,163,382,25,Federal Republic of Yugoslavia Q838261,1999.0,False
19,19,333302,Operation Storm,military conflict,156914,400624,232,567,1653,Croatia Q224|Bosnia and Herzegovina Q225,1995.0,False
20,20,369826,Nepalese Civil War,military conflict,54921,403383,54,238,4500,Nepal Q837,2006.0,False
21,21,375570,Operation Echo,military conflict,2713,3294,2,17,0,Kosovo|Yugoslavia,1999.0,False
22,22,381949,Operation Megaphone,military conflict,6866,5562,7,26,0,Off the coast of Newfoundland and Labrad...,2000.0,False
23,23,401625,Operation Red Dawn,military conflict,31909,506235,17,149,0,Ad- Dawr Q1029552,2003.0,False
24,24,402087,Cenepa War,military conflict,50598,171189,32,140,400,Upper Cenepa River valley in the eastern ...,1995.0,False
25,25,405651,Operation Ivy Blizzard,military conflict,4827,7092,0,44,0,Samarra,2003.0,False
26,26,406782,Operation Bulldog Mammoth,military conflict,2887,6478,0,28,0,Abu Ghraib Q335021,2003.0,False
27,27,416984,Operation Avalanche (Afghanistan),military conflict,2290,11929,0,15,2,Southeast Afghanistan,2003.0,False
28,28,435497,Yugoslav Wars,military conflict,103404,2462989,123,442,0,Yugoslavia Q36704,2001.0,False
29,29,447199,Operation Enduring Freedom – Philippines,military conflict,35912,172139,53,113,17,Philippines Q928,2015.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...
1791,1791,57570985,1996 Derry riots,civil conflict,3709,1660,7,25,0,Derry|Northern Ireland,1996.0,False
1792,1792,57572908,Operation Tigris Shield,military conflict,6875,8198,13,21,120,Iraqi Kurdistan Q205047,2018.0,False
1793,1793,57577330,2013 Belfast riots,civil conflict,6206,1264,8,40,0,Belfast|Northern Ireland,2013.0,False
1794,1794,57598655,Inkadogotane ambush,military conflict,5085,411,11,11,39,Inkadogotane|Ménaka Region|Mali,2017.0,False
1795,1795,57610709,Battle of Tabarde,military conflict,3255,1730,3,14,6,Tabarde|Ménaka Region|Mali,2018.0,False
1796,1796,57644459,As-Suwayda offensive (June 2018),military conflict,11869,36347,26,34,40,As- Suwayda Governorate Q236797,2018.0,False
1797,1797,57645711,2018 Southern Syria offensive,military conflict,92534,149007,200,198,309,Southern Syria Daraa Governorate Western Su...,2018.0,False
1798,1798,57674419,Battle of Al Hudaydah,military conflict,63717,170478,112,150,126,Al Hudaydah Q270041,2018.0,False
1799,1799,57728678,2018 Armenian-Azerbaijani clashes,military conflict,15442,8279,22,79,10,Nakhchivan Autonomous Republic Q131083|Syun...,2018.0,False
1800,1800,57786346,Battle of Oraovica,military conflict,2879,1924,1,22,3,Oraovica|Preševo Q2476006,2001.0,False
1801,1801,57789484,Women Disobey,civil conflict,7688,7371,10,47,0,Washington|D C Q61,2018.0,False
1802,1802,57899678,2018 Iranian general strikes,civil conflict,8950,3403,14,64,0,Across Iran,2018.0,False
1803,1803,57905053,2018 Derry riots,civil conflict,4173,8697,7,23,0,Derry|Northern Ireland,2018.0,False
1804,1804,57931030,December 2013 Stockholm riots,civil conflict,5562,1141,9,40,0,Kärrtorp|Stockholm|Sweden,2013.0,False
1805,1805,58033605,Ndop prison break,military conflict,2508,675,3,11,0,Ndop Q2450615,2018.0,False
1806,1806,58053403,2018 Bangladesh road-safety protests,civil conflict,45970,50220,102,91,0,Bangladesh,2018.0,False
1807,1807,58097100,As-Suwayda offensive (August–September 2018),military conflict,11663,15432,20,44,865,As- Suwayda Governorate Q236797,2018.0,False
1808,1808,58105334,2014 retreat from Western Bahr el Ghazal,military conflict,23460,3048,24,92,0,Western Bahr el Ghazal Q332095,2014.0,False
1809,1809,58118629,Ghazni offensive,military conflict,21882,93393,35,63,200,Ghazni Q180415,2018.0,False
1810,1810,58135196,Battle of Darzab (2018),military conflict,17234,12658,14,82,300,Darzab Q3694393,2018.0,False
1811,1811,58188866,Attack on Fort Paramacay,military conflict,6435,724,10,32,11,Naguanagua Q2255048,2017.0,False
1812,1812,58207802,1999 Mauritian riots,civil conflict,7839,1031,6,27,0,Roche Bois|Port Louis|Mauritius,1999.0,False
1813,1813,58209483,Turkish strikes on Sinjar (2018),military conflict,8975,2545,12,56,0,Snune|Sinjar|Iraqi Kurdistan,2018.0,False
1814,1814,58360766,Battle of Batibo,military conflict,2918,984,2,12,70,Batibo|Southern Cameroons Ambazonia,2018.0,False
1815,1815,58402287,2018 Peruvian agrarian protests,civil conflict,8415,615,9,30,0,Peru,2018.0,False
1816,1816,58450520,Qamishli clashes (September 2018),military conflict,3480,7479,3,19,13,Qamishli|Syria,2018.0,False
1817,1817,58450703,Fem la República Catalana,civil conflict,5058,1270,6,30,0,Barcelona,2018.0,False
1818,1818,58461297,2018 Tripoli Clashes,military conflict,3711,431,9,16,0,Tripoli|Libya,2018.0,False
1819,1819,58463872,2018 Idlib crisis,military conflict,31063,5615,86,150,49,Northwestern Syria Northeastern Latakia Gov...,2018.0,False
1820,1820,58497945,2018 attack on the Iran Embassy in France,civil conflict,4490,397,7,17,0,Iran Embassy|Paris|France,2018.0,False

#### scegliere quello giusto

In [6]:
articles_to_treat = articles[(articles['n_conflict']<=607)]
#articles_to_treat = articles[(articles['n_conflict']>607) & (articles['n_conflict']<=1214)]
#articles_to_treat = articles[(articles['n_conflict']>1214)]

In [7]:
def get_wiki_military_conflict_deaths(row):
    idPage = row['id']
    page = wptools.page(pageid=idPage)
    
    try:
        page.get_parse()
    except:
        return 0
    
    deaths = None
    
    try: 
        page.get_wikidata()
        deaths = page.data['wikidata']['number of deaths (P1120)']['amount']
        return deaths
    except:
        deaths = None
        
    try:
        deaths = page.data['infobox']['casualties3']
        return deaths
    except:
        deaths = None
        
    
    deaths2 = None
    
    try:
        deaths = page.data['infobox']['casualties1']
    except:
        return None
        
    try:
        deaths2 = page.data['infobox']['casualties2']
        deaths  = deaths + " |caus2| " + deaths2
    except:
        deaths2 = None
        
    if deaths:
        return deaths
    else:
        return row['death']

In [8]:
%%capture
articles_to_treat['death'] = articles_to_treat.apply(get_wiki_military_conflict_deaths,axis=1)

Attenzione a salvare con il nome giusto :)

In [9]:
articles_to_treat.to_csv(DATA_DIR + 'data_from_wptools_1.csv')

## MERGE

In [28]:
new_articles = pd.read_csv(DATA_DIR + 'data_from_wptools_3.csv', index_col=0)

In [29]:
new_articles = new_articles.set_index('id')

In [30]:
new_articles = new_articles.drop(['n_conflict'],axis=1)

In [31]:
new_articles

,title,categories,article_lenght,views,refs_count,link_count,death,locations,end_date_clean,ongoing
id,,,,,,,,,,
45560460,Eastern al-Hasakah offensive,military conflict,38855,30496,71,102,287–400 Assyrian civilians kidnapped (24 relea...,Al- Hasakah Governorate Q233914,2015.0,False
45619584,Salahuddin campaign,military conflict,34606,31169,74,92,"46 civilians killed <br>28,000 civilians displ...",Saladin Governorate Q190131,2016.0,False
45666688,Operation Rainbow (Syrian Civil War),military conflict,37816,38471,98,61,540+ killed |caus2| 270+ killed,Aleppo Governorate Q214064,2015.0,False
45683170,2015–16 protests in Brazil,civil conflict,40702,78927,61,153,NaN,nowrap Brazil 160 cities in 26 states an...,2016.0,False
45716178,Battle of Sirte (2015),military conflict,8919,49211,16,32,10 killed |caus2| 41 killed,Sirte Q162413,2015.0,False
45716539,Battle of Aden Airport,military conflict,10526,28742,14,55,"13 killed, 63 wounded",Aden Q131694,2015.0,False
46179869,Battle of Aden (2015),military conflict,42611,10348,85,115,858 civilians killed (256 by disease; pro-Hadi...,Aden Q131694,2015.0,False
46218259,Battle of Idlib (2015),military conflict,36787,12006,75,67,"11 civilians killed, 15 prisoners executed by ...",Idlib Q504657,2015.0,False
46222132,Battle of Bosra (2015),military conflict,8455,28941,12,27,4 civilians killed,Bosra Q272680,2015.0,False
46252648,Operation Shah Euphrates,military conflict,2793,23654,1,24,NaN,Aleppo Q41183,2015.0,False
46253486,Battle of Sarrin (March–April 2015),military conflict,30392,27639,51,83,Unknown |caus2| 24+ militants killed,Sarrin Q15275488,2015.0,False
46291886,Battle of Nasib Border Crossing,military conflict,13677,32623,20,30,NaN,Nasib Border Crossing Q13576098,2015.0,False
46309528,2015 Idlib offensive,military conflict,21095,63087,45,41,NaN,Idlib Governorate Q233218,2015.0,False
46314749,Rhodes Must Fall,civil conflict,59483,213226,119,139,NaN,University of Cape Town,2015.0,False
46315216,Battle of Mukalla (2015),military conflict,14399,8495,27,52,7+ killed,Mukalla Q310772,2015.0,False
46330507,Battle of Yarmouk Camp (2015),military conflict,24043,71727,44,66,5 killed,Yarmouk Camp Q2918779,2015.0,False
46345430,Battle of Dhale,military conflict,14670,16493,34,33,46 civilians killed,Ad Dali Governorate Q328187,2015.0,False
46346819,Battle of Baiji (2014),military conflict,23161,4745,48,50,197+ killed and 122 wounded,Baiji Q803712,2014.0,False
46357616,Abyan campaign (March–August 2015),military conflict,10189,14222,21,45,49 killed |caus2| 31 killed,Abyan Governorate Q241774,2015.0,False
46357714,Shabwah campaign (March–August 2015),military conflict,12327,12928,27,43,152 killed |caus2| 43 killed,Shabwah Governorate Q328180,2015.0,False
46358416,Lahij insurgency,military conflict,10773,20082,22,41,119-124 |caus2| 242-259 killed,Lahij Governorate Q388318,2015.0,False
46360372,Detroit newspaper strike of 1995–97,civil conflict,8007,7719,5,37,NaN,NaN,1997.0,False
46376184,Kumanovo water crisis,military conflict,1223,574,1,12,NaN,Kumanovo Q54452,2001.0,False
46428106,Al-Karmah offensive (2015),military conflict,23842,44717,40,86,Unknown |caus2| 676+ killed (government claim),Al- Karmah Q4702665,2015.0,False
46450104,Siege of Nubl and al-Zahraa,military conflict,22548,1945,41,67,NaN,Nubl Q7067856,2016.0,False
46454011,Sistan and Baluchestan insurgency,military conflict,14383,42047,23,106,NaN,Sistan and Baluchestan Q939575,2004.0,False
46455838,Taiz campaign (2015–present),military conflict,68327,3172,151,84,NaN,Ta izz Q466216,2015.0,False
46458597,Thirty Meter Telescope protests,civil conflict,33223,34457,51,80,NaN,Mauna Kea Access Road near Mauna Kea Vi...,2014.0,False
46459545,Hama and Homs offensive (March–April 2015),military conflict,7755,23537,14,35,48–50 civilians killed by ISIL (46–48 executed),Hama Governorate Q232355,2015.0,False
46472007,Gošince attack,military conflict,10517,6258,18,42,4 captured |caus2| none,Gošince border post|Lipkovo Municipality|Re...,2015.0,False
...,...,...,...,...,...,...,...,...,...,...
57570985,1996 Derry riots,civil conflict,3709,1660,7,25,NaN,Derry|Northern Ireland,1996.0,False
57572908,Operation Tigris Shield,military conflict,6875,8198,13,21,120 killed <small>(PKK claim)</small> |caus2|...,Iraqi Kurdistan Q205047,2018.0,False
57577330,2013 Belfast riots,civil conflict,6206,1264,8,40,NaN,Belfast|Northern Ireland,2013.0,False
57598655,Inkadogotane ambush,military conflict,5085,411,11,11,8 killed<br>27 missing<br>4 vehicles destroyed...,Inkadogotane|Ménaka Region|Mali,2017.0,False
57610709,Battle of Tabarde,military conflict,3255,1730,3,14,"3 killed, 3 wounded |caus2| 6+ killed, dozens ...",Tabarde|Ménaka Region|Mali,2018.0,False
57644459,As-Suwayda offensive (June 2018),military conflict,11869,36347,26,34,40 killed |caus2| 31 killed,As- Suwayda Governorate Q236797,2018.0,False
57645711,2018 Southern Syria offensive,military conflict,92534,149007,200,198,"310 killed, <br>150–200 captured <br>",Southern Syria Daraa Governorate Western Su...,2018.0,False
57674419,Battle of Al Hudaydah,military conflict,63717,170478,112,150,348 combatants killed <small>(per medical sour...,Al Hudaydah Q270041,2018.0,False
57728678,2018 Armenian-Azerbaijani clashes,military conflict,15442,8279,22,79,Per Armenian sources:\r\n* 3 soldiers killed\r...,Nakhchivan Autonomous Republic Q131083|Syun...,2018.0,False
57786346,Battle of Oraovica,military conflict,2879,1924,1,22,3 wounded |caus2| 20 dead and 8 wounded (accor...,Oraovica|Preševo Q2476006,2001.0,False
57789484,Women Disobey,civil conflict,7688,7371,10,47,NaN,Washington|D C Q61,2018.0,False
57899678,2018 Iranian general strikes,civil conflict,8950,3403,14,64,NaN,Across Iran,2018.0,False
57905053,2018 Derry riots,civil conflict,4173,8697,7,23,NaN,Derry|Northern Ireland,2018.0,False
57931030,December 2013 Stockholm riots,civil conflict,5562,1141,9,40,NaN,Kärrtorp|Stockholm|Sweden,2013.0,False
58033605,Ndop prison break,military conflict,2508,675,3,11,NaN,Ndop Q2450615,2018.0,False
58053403,2018 Bangladesh road-safety protests,civil conflict,45970,50220,102,91,NaN,Bangladesh,2018.0,False
58097100,As-Suwayda offensive (August–September 2018),military conflict,11663,15432,20,44,245 killed <small>(per [[Syrian Observatory fo...,As- Suwayda Governorate Q236797,2018.0,False
58105334,2014 retreat from Western Bahr el Ghazal,military conflict,23460,3048,24,92,Thousands of civilians displaced,Western Bahr el Ghazal Q332095,2014.0,False
58118629,Ghazni offensive,military conflict,21882,93393,35,63,150 civilians killed,Ghazni Q180415,2018.0,False
58135196,Battle of Darzab (2018),military conflict,17234,12658,14,82,"Several civilians killed, 3,500–7,000 displaced",Darzab Q3694393,2018.0,False
58188866,Attack on Fort Paramacay,military conflict,6435,724,10,32,8 dead <br> 3 injured |caus2| 3 dead<br> 1 inj...,Naguanagua Q2255048,2017.0,False
58207802,1999 Mauritian riots,civil conflict,7839,1031,6,27,NaN,Roche Bois|Port Louis|Mauritius,1999.0,False
58209483,Turkish strikes on Sinjar (2018),military conflict,8975,2545,12,56,/ |caus2| 5 killed:<br>Zaki Shingali (Ismail O...,Snune|Sinjar|Iraqi Kurdistan,2018.0,False
58360766,Battle of Batibo,military conflict,2918,984,2,12,Unclear (~70 according to uncomfirmed informat...,Batibo|Southern Cameroons Ambazonia,2018.0,False
58402287,2018 Peruvian agrarian protests,civil conflict,8415,615,9,30,NaN,Peru,2018.0,False
58450520,Qamishli clashes (September 2018),military conflict,3480,7479,3,19,11 killed<br>2 wounded |caus2| 7 killed<br>1 w...,Qamishli|Syria,2018.0,False
58450703,Fem la República Catalana,civil conflict,5058,1270,6,30,NaN,Barcelona,2018.0,False
58461297,2018 Tripoli Clashes,military conflict,3711,431,9,16,Unknown,Tripoli|Libya,2018.0,False
58463872,2018 Idlib crisis,military conflict,31063,5615,86,150,34 civilians killed,Northwestern Syria Northeastern Latakia Gov...,2018.0,False
58497945,2018 attack on the Iran Embassy in France,civil conflict,4490,397,7,17,NaN,Iran Embassy|Paris|France,2018.0,False

In [34]:
old_articles.update(new_articles)

In [38]:
old_articles.describe()

,article_lenght,views,refs_count,link_count,end_date_clean
count,17459.000000,1.745900e+04,17459.000000,17459.000000,16848.000000
mean,18878.777536,1.137520e+05,20.878916,78.811902,1747.511871
std,27955.171439,6.499852e+05,44.011206,88.279906,403.200965
min,526.000000,4.100000e+01,0.000000,1.000000,19.000000
25%,5029.000000,5.606500e+03,2.000000,31.000000,1739.000000
50%,9633.000000,1.486200e+04,7.000000,51.000000,1912.000000
75%,20407.500000,4.779800e+04,20.000000,90.000000,1975.000000
max,636363.000000,3.383597e+07,1000.000000,1456.000000,2018.000000

In [54]:
#articles = articles.reset_index()

In [58]:
#articles['id'] = articles.id.astype(int)

In [60]:
#articles = articles.set_index('id')

In [67]:
#articles = articles.drop(['index'],axis=1)

ok

In [39]:
old_articles.to_csv(DATA_DIR + 'data_processed_before_death_cleaning.csv')