In [1]:
import findspark
findspark.init()

import pyspark
import pyspark.sql
from pyspark.sql import *
import os.path
from pyspark.sql.functions import desc

from pyspark.sql import dataframe
from pyspark.sql import functions as F
from pyspark.sql.functions import isnan, when, count, col

from pyspark.sql import SparkSession
from pyspark import SparkContext
from pyspark.sql import SQLContext

spark = SparkSession.builder.getOrCreate()
sc = spark.sparkContext

from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

from pyspark.sql.types import *

import wptools

In [2]:
DATA_DIR = '../data/data_processed/intermediate/'

In [3]:
military = spark.read.parquet(DATA_DIR+"wiki_military_conflict_df.parquet")

In [4]:
military_null = military.where(((col("death").isNull()) | (F.lower(col("death"))=="none")) & (col("location").isNull()) & (col("end_date").isNull()))
military_null.count()

1815

In [5]:
military_null.show()

+-----+--------+--------+--------+
|death|end_date|      id|location|
+-----+--------+--------+--------+
| null|    null| 5421507|    null|
| null|    null|21845109|    null|
| null|    null|   31607|    null|
| null|    null|   91609|    null|
| null|    null| 2174819|    null|
| null|    null| 2138979|    null|
| null|    null|30269008|    null|
| null|    null| 8221689|    null|
| null|    null|23503395|    null|
| null|    null|23584843|    null|
| null|    null|36605624|    null|
| null|    null|30704529|    null|
| null|    null| 9131667|    null|
| null|    null|22515182|    null|
| null|    null|19931370|    null|
| null|    null| 1315408|    null|
| null|    null|  633952|    null|
| null|    null|  830626|    null|
| null|    null|  236843|    null|
| null|    null|  214155|    null|
+-----+--------+--------+--------+
only showing top 20 rows

In [13]:
def get_wiki_military_conflict(entity):
    page = wptools.page(pageid=entity.id)
    # extract relevant information and put in dictionary
    info = {'death': None, 'end_date': None, 'location': None}
    try:
        page.get_parse()
    except:
        return Row(id=entity.id, death=info['death'],
               end_date=info['end_date'], location=info['location'])
    
    try: 
        page.get_wikidata()
        info['death'] = page.data['wikidata']['number of deaths (P1120)']['amount']
    
    except:
        try:
            info['death'] = page.data['infobox']['casualties1']
        except:
            info['death'] = None
            
    try:
        info['end_date'] = page.data['wikidata']['end time (P582)']
    except:
        try:
            info['end_date'] = page.data['infobox']['date']
        except:
            info['end_date'] = None
    
    try:
        info['location'] = page.data['wikidata']['location (P276)']
    except:
        try:
            info['location'] = page.data['infobox']['place']
        except:
            info['location'] = None
    
    
    return Row(id=entity.id, death=info['death'],
               end_date=info['end_date'], location=info['location'])

In [7]:
schema = StructType([StructField('death', StringType()),StructField('end_date', StringType()),
                     StructField('id', IntegerType()),StructField('location', StringType())])

In [8]:
df = military_null.select("id");

In [14]:
%%capture
wiki_military_conflict_rows = [get_wiki_military_conflict(i) for i in df.collect()];

In [15]:
wiki_military_attack_df = spark.createDataFrame(wiki_military_conflict_rows, schema)

wiki_military_attack_df.printSchema()
wiki_military_attack_df.show()

root
 |-- death: string (nullable = true)
 |-- end_date: string (nullable = true)
 |-- id: integer (nullable = true)
 |-- location: string (nullable = true)

+-----+--------+--------+--------+
|death|end_date|      id|location|
+-----+--------+--------+--------+
| null|    null| 5421507|    null|
| null|    null|21845109|    null|
| null|    null|   31607|    null|
| null|    null|   91609|    null|
| null|    null| 2174819|    null|
| null|    null| 2138979|    null|
| null|    null|30269008|    null|
| null|    null| 8221689|    null|
| null|    null|23503395|    null|
| null|    null|23584843|    null|
| null|    null|36605624|    null|
| null|    null|30704529|    null|
| null|    null| 9131667|    null|
| null|    null|22515182|    null|
| null|    null|19931370|    null|
| null|    null| 1315408|    null|
| null|    null|  633952|    null|
| null|    null|  830626|    null|
| null|    null|  236843|    null|
| null|    null|  214155|    null|
+-----+--------+--------+--------+
only showing top 20 rows

In [16]:
# saving binary file to future uses
wiki_military_attack_df.write.mode('overwrite').parquet(DATA_DIR+"wiki_military_conflict_null_df.parquet")

In [17]:
military_null_new = wiki_military_attack_df.where(((col("death").isNull()) | (F.lower(col("death"))=="none")) & (col("location").isNull()) & (col("end_date").isNull()))
military_null_new.count()

42

In [19]:
military_non_null_new = wiki_military_attack_df.where(~(((col("death").isNull()) | (F.lower(col("death"))=="none")) & (col("location").isNull()) & (col("end_date").isNull())))
military_non_null_new.show()

+--------------------+--------------------+--------+--------------------+
|               death|            end_date|      id|            location|
+--------------------+--------------------+--------+--------------------+
|                null|+1154-00-00T00:00...|  100442|[Normandy (Q15878...|
|'''U.S.''': 4,538...|25 November&nbsp;...|57869448|         North Korea|
|               3,770|+1813-09-08T00:00...|13704630|San Sebastián (Q1...|
|4 killed, 10–16 w...|      7 October 2007|13709567|Zhani-Vedeno, [[C...|
|6 killed<br>27 wo...|+1882-07-13T00:00...|13716154|    Alexandria (Q87)|
|                null|       25 April 1643|13721815|  Dartmoor (Q214823)|
|         ~330 killed|+1996-07-25T00:00...|13726970|Mullaitivu (Q507144)|
|88 killed<br> 100...|    22–23 April 2000|13727911|Elephant Pass (Q1...|
|700 killed<br>1,5...|+1997-06-25T00:00...|13729242|    Sri Lanka (Q854)|
|                null|+1966-02-23T00:00...|13731602|        Syria (Q858)|
|70 killed<br>175 ...|+2006-12-09T00:00...|13733904|  Vakarai (Q7908969)|
|58 dead<br>320 wo...|+1810-08-27T00:00...|13734224|   Almeida (Q617889)|
|                null|       June 28, 1575|13735436|Nagashino, [[Mika...|
|{{flagicon|United...|+1919-12-01T00:00...|13739620|   Baltic Sea (Q545)|
|6,000 ([[Xiang Ar...|+1858-11-18T00:00...|13743516|Sanhe, Feixi Coun...|
|Roman claim: 8,00...|       Spring 209 BC|13755150|[Ascoli Satriano ...|
|4 killed<br />21 ...|+1941-03-01T00:00...|13757041|     Kufra (Q172114)|
|17 killed, 1 boat...|        May 12, 2006|13759569|    Jaffna (Q215277)|
|300 + killed<br>8...|+2006-10-29T00:00...|13769741|    Jaffna (Q215277)|
|600 killed, <br /...|+1993-11-14T00:00...|13777145| Pooneryn (Q3397860)|
+--------------------+--------------------+--------+--------------------+
only showing top 20 rows

In [20]:
military_non_null_new.count()

1773

In [22]:
#check che ci sia tutto
check_military = spark.read.parquet(DATA_DIR+"wiki_military_conflict_null_df.parquet")
check_military.where(~(((col("death").isNull()) | (F.lower(col("death"))=="none")) & (col("location").isNull()) & (col("end_date").isNull()))).count()

1773

ok

# Merge

In [4]:
military = spark.read.parquet(DATA_DIR+"wiki_military_conflict_df.parquet")
military_new = spark.read.parquet(DATA_DIR+"wiki_military_conflict_null_df.parquet")

In [19]:
military.filter("id = 13704630").show()

+-----+--------+--------+--------+
|death|end_date|      id|location|
+-----+--------+--------+--------+
| null|    null|13704630|    null|
+-----+--------+--------+--------+

In [20]:
military_new.filter("id = 13704630").show()

+-----+--------------------+--------+--------------------+
|death|            end_date|      id|            location|
+-----+--------------------+--------+--------------------+
|3,770|+1813-09-08T00:00...|13704630|San Sebastián (Q1...|
+-----+--------------------+--------+--------------------+

In [21]:
military_pd = military.toPandas().set_index("id")
military_new_pd = military_new.toPandas().set_index("id")

In [22]:
military_pd

,death,end_date,location
id,,,
16102383,None,Autumn 1362 or 1363,Novoarkhanhelsk Raion (Q2653763)
16104271,None,29 June 1793,Nantes (Q12191)
16104895,"16,236 men {{sfn|Frieser|Schmider|Schönherr|Sc...",+1944-10-27T00:00:00Z,East Prussia (Q103801)
16107956,Unknown,March 641 – September 641,Alexandria (Q87)
16115968,Very low: (14 British soldiers killed in comba...,+1762-11-24T00:00:00Z,"Northern and Eastern Portugal, Spain"
16119547,{{unbulleted list\n |flagicon|Republic of Chin...,January – May 1942,Burma
16148162,"{{flagicon|United Kingdom|size|=|20px}} ~6,500...",+1943-09-00T00:00:00Z,Myanmar (Q836)
19380215,12 wounded,20 August 1883,"near Huế, central [[Vietnam]]"
19380370,"4,000 dead and wounded",29 June 1444,Plain of Torvioll (Q7200656)
19380814,a few minor wounds (including Mattingly),"{{start-date|October 13, 1863|October 13, 1863}}",Braxton County (Q494138)
19381695,"4,564 men<br />(687 killed,<br />3,280 wounded...",+1912-10-24T00:00:00Z,[[Kumanovo district (Ottoman)|Kumanovo distric...
19383035,None,+1333-06-28T00:00:00Z,Fuchū (Q208818)
19390255,None,29 April 1894 - 10 June 1894,El Salvador (Q792)
19391158,"ca. 32,000 men lost <br>Unknown number captured",40–33 BC,Anatolia (Q51614)
19393334,Unknown,"February, 1018",Albania (Q222)
19403947,None,1950 – present,South Korea (Q884)
19406883,High,+0813-09-28T00:00:00Z,Baghdad (Q1530)
19410201,1 [[heavy cruiser]]<br/>1 tanker<br>2 killed,26 March 1941,Souda Bay (Q2633779)
19433030,{{flagicon|United States}} 44 dead<br>(10 Mari...,"April 24 – September 3, 1965",Santo Domingo (Q34820)
19441278,None,+2007-03-02T00:00:00Z,Ramadi (Q192961)
19445506,None,"July 2, 1950",Sea of Japan (Q27092)
19466534,"1 dead, 2 reported wounded, including Col. Mac...","October 10, 1871","Near [[Blanco Canyon]], [[Texas]]"
19468315,1 killed,+2002-04-08T00:00:00Z,Nablus (Q214178)
19482784,"107 (12 killed, 25 wounded, 70 captured)","February 22, 1864",Loudoun County (Q495310)
19484453,12 prisoners,"January 17, 1865",Loudoun County (Q495310)
19491752,None,None,Chikkamagaluru district (Q743077)
19493215,Unknown,Late 48 BC – early or mid 47 BC,Alexandria (Q87)
19493670,None,+1918-04-05T00:00:00Z,Villers-Bretonneux (Q677163)
19493708,None,+1918-04-27T00:00:00Z,Villers-Bretonneux (Q677163)
19495553,None,June 1255,Eifionydd (Q1302975)
...,...,...,...
12199903,None,None,None
12200360,None,None,None
12202103,None,None,None
12205598,None,None,None
12209826,None,None,None
12209993,None,None,None
12210727,None,None,None
12211526,None,None,None
12224032,None,None,None
28401842,None,None,None
28411509,None,None,None
28411982,None,None,None
28412229,None,None,None
28424211,None,None,None
28446958,None,None,None
28453854,None,None,None
28454776,None,None,None
28455704,None,None,None
28456985,None,None,None
28467280,None,None,None
28470613,None,None,None
28470986,None,None,None
28480673,None,None,None
28480878,None,None,None
28488661,None,None,None
28497296,None,None,None
28505705,None,None,None
28526797,None,None,None
28529333,None,None,None
28531297,None,None,None

In [23]:
military_pd.update(military_new_pd)

In [24]:
military_pd

,death,end_date,location
id,,,
16102383,None,Autumn 1362 or 1363,Novoarkhanhelsk Raion (Q2653763)
16104271,None,29 June 1793,Nantes (Q12191)
16104895,"16,236 men {{sfn|Frieser|Schmider|Schönherr|Sc...",+1944-10-27T00:00:00Z,East Prussia (Q103801)
16107956,Unknown,March 641 – September 641,Alexandria (Q87)
16115968,Very low: (14 British soldiers killed in comba...,+1762-11-24T00:00:00Z,"Northern and Eastern Portugal, Spain"
16119547,{{unbulleted list\n |flagicon|Republic of Chin...,January – May 1942,Burma
16148162,"{{flagicon|United Kingdom|size|=|20px}} ~6,500...",+1943-09-00T00:00:00Z,Myanmar (Q836)
19380215,12 wounded,20 August 1883,"near Huế, central [[Vietnam]]"
19380370,"4,000 dead and wounded",29 June 1444,Plain of Torvioll (Q7200656)
19380814,a few minor wounds (including Mattingly),"{{start-date|October 13, 1863|October 13, 1863}}",Braxton County (Q494138)
19381695,"4,564 men<br />(687 killed,<br />3,280 wounded...",+1912-10-24T00:00:00Z,[[Kumanovo district (Ottoman)|Kumanovo distric...
19383035,None,+1333-06-28T00:00:00Z,Fuchū (Q208818)
19390255,None,29 April 1894 - 10 June 1894,El Salvador (Q792)
19391158,"ca. 32,000 men lost <br>Unknown number captured",40–33 BC,Anatolia (Q51614)
19393334,Unknown,"February, 1018",Albania (Q222)
19403947,None,1950 – present,South Korea (Q884)
19406883,High,+0813-09-28T00:00:00Z,Baghdad (Q1530)
19410201,1 [[heavy cruiser]]<br/>1 tanker<br>2 killed,26 March 1941,Souda Bay (Q2633779)
19433030,{{flagicon|United States}} 44 dead<br>(10 Mari...,"April 24 – September 3, 1965",Santo Domingo (Q34820)
19441278,None,+2007-03-02T00:00:00Z,Ramadi (Q192961)
19445506,None,"July 2, 1950",Sea of Japan (Q27092)
19466534,"1 dead, 2 reported wounded, including Col. Mac...","October 10, 1871","Near [[Blanco Canyon]], [[Texas]]"
19468315,1 killed,+2002-04-08T00:00:00Z,Nablus (Q214178)
19482784,"107 (12 killed, 25 wounded, 70 captured)","February 22, 1864",Loudoun County (Q495310)
19484453,12 prisoners,"January 17, 1865",Loudoun County (Q495310)
19491752,None,None,Chikkamagaluru district (Q743077)
19493215,Unknown,Late 48 BC – early or mid 47 BC,Alexandria (Q87)
19493670,None,+1918-04-05T00:00:00Z,Villers-Bretonneux (Q677163)
19493708,None,+1918-04-27T00:00:00Z,Villers-Bretonneux (Q677163)
19495553,None,June 1255,Eifionydd (Q1302975)
...,...,...,...
12199903,Unknown but included Prince [[Paulo da Silva o...,18 October 1670,"Kitombo, [[Angola]]"
12200360,None,+1941-12-13T00:00:00Z,Jitra (Q4129994)
12202103,14–23 dead <br>(11 beheaded)<br> 9 wounded,+2007-07-11T00:00:00Z,Tipo-Tipo (Q667595)
12205598,"8,000",+1684-06-07T00:00:00Z,Luxembourg (Q32)
12209826,Not Reported,+2007-07-11T00:00:00Z,"[[Sherween]], [[Iraq]]"
12209993,Not Reported,6 July 2007,Baghdad (Q1530)
12210727,None,+1521-04-05T00:00:00Z,State of the Teutonic Order (Q156020)
12211526,"8,000 –12,000 *1,983 killed *6,170 wounded *3,...",+1914-11-17T00:00:00Z,Erzurum Vilayet (Q1366246)
12224032,1 submarine sunk,+1915-12-29T00:00:00Z,Durrës (Q83285)
28401842,"4,000 dead or wounded <br>2,000 captured",June – September 1638,Hondarribia (Q492312)
28411509,"variously 5,000, 6,000 or 10,000 dead; 2,000 c...",19 July 998,"plain of al-Mudiq, near [[Apamea (Syria)|Apamea]]"
28411982,421,27 August 1781,Pullalur (Q7259405)
28412229,None,27 September 1781,Sholinghur (Q2229686)
28424211,None,19&ndash;27 May 1655,[[Spanish occupation of Santiago (Jamaica)|San...
28446958,None,+1748-00-00T00:00:00Z,"[[Carnatic region]], [[South India]]"
28453854,none,27 September 1940,Kent (Q23298)
28454776,''Ostego'' and ''Basely'' sunk,"December 9, 1864",Roanoke Colony (Q59222)
28455704,"1, 971","December 7, 1864 – February 22, 1865",Eastern [[North Carolina]]
28456985,7 killed<br/>7 wounded,"April 1, 1899",Vailele (Q7908776)
28467280,"10,000",10 August 1763,"Rakshasbhuvan dam, [[Godaveri]], [[India]]"
28470613,None,1140,"Henan, China"
28470986,"9,000 dead or captured <br>(Mostly prisoners)",2 August 1583,Terceira Island (Q215074)
28480673,400 –600 {{rp|199}},+1877-11-09T00:00:00Z,Erzurum (Q122803)
28480878,none,21 July 1781,Saldanha Bay (Q1563436)
28488661,None,3 November 2008,"Wech Baghtu village, [[Shah Wali Kot District]..."
28497296,?,978,Munster (Q131438)
28505705,"1 killed,<br/>7 missing<br/>2 ships sunk",15 August 1917,"off [[Humber estuary]], [[North Sea]]"
28526797,None,24 October 1580,Porto (Q36433)
28529333,None,+1851-12-31T00:00:00Z,Chile (Q298)
28531297,200 dead<br>50 captured,June 1765,Larache (Q606775)

In [25]:
military_pd.loc[13704630]

death                        3,770
end_date     +1813-09-08T00:00:00Z
location    San Sebastián (Q10313)
Name: 13704630, dtype: object

In [30]:
military_complete = spark.createDataFrame(military_pd.reset_index())

In [31]:
military_complete.show()

+--------+--------------------+--------------------+--------------------+
|      id|               death|            end_date|            location|
+--------+--------------------+--------------------+--------------------+
|16102383|                null| Autumn 1362 or 1363|Novoarkhanhelsk R...|
|16104271|                null|        29 June 1793|     Nantes (Q12191)|
|16104895|16,236 men {{sfn|...|+1944-10-27T00:00...|East Prussia (Q10...|
|16107956|             Unknown|March 641 – Septe...|    Alexandria (Q87)|
|16115968|Very low: (14 Bri...|+1762-11-24T00:00...|Northern and East...|
|16119547|{{unbulleted list...|  January – May 1942|               Burma|
|16148162|{{flagicon|United...|+1943-09-00T00:00...|      Myanmar (Q836)|
|19380215|          12 wounded|      20 August 1883|near Huế, central...|
|19380370|4,000 dead and wo...|        29 June 1444|Plain of Torvioll...|
|19380814|a few minor wound...|{{start-date|Octo...|Braxton County (Q...|
|19381695|4,564 men<br />(6...|+1912-10-24T00:00...|[[Kumanovo distri...|
|19383035|                null|+1333-06-28T00:00...|     Fuchū (Q208818)|
|19390255|                null|29 April 1894 - 1...|  El Salvador (Q792)|
|19391158|ca. 32,000 men lo...|            40–33 BC|   Anatolia (Q51614)|
|19393334|             Unknown|      February, 1018|      Albania (Q222)|
|19403947|                null|      1950 – present|  South Korea (Q884)|
|19406883|                High|+0813-09-28T00:00...|     Baghdad (Q1530)|
|19410201|1 [[heavy cruiser...|       26 March 1941|Souda Bay (Q2633779)|
|19433030|{{flagicon|United...|April 24 –  Septe...|Santo Domingo (Q3...|
|19441278|                null|+2007-03-02T00:00...|    Ramadi (Q192961)|
+--------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [32]:
military_complete.filter("id = 13704630").show()

+--------+-----+--------------------+--------------------+
|      id|death|            end_date|            location|
+--------+-----+--------------------+--------------------+
|13704630|3,770|+1813-09-08T00:00...|San Sebastián (Q1...|
+--------+-----+--------------------+--------------------+

In [33]:
military_complete.count()

14189

ok

In [34]:
# saving binary file
military_complete.write.mode('overwrite').parquet(DATA_DIR+"wiki_military_conflict_df.parquet")